/* screen - addfunds */

.addfunds {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.addfunds .add-funds-y1HRxC {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
  align-self: flex-start;
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: relative;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  white-space: nowrap;
  width: auto;
}
.addfunds .automatic-payme-dit-debit-cards-0PZcXW {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-right: 101.0px;
  margin-top: 162px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.addfunds .automatic-payme-for-transaction-aewt80 {
  background-color: transparent;
  bottom: -2px;
  color: var(--licorice);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 57px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: 70%;
}
.addfunds .black-top-rectangle-pqRchW {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.addfunds .black-top-rectangle-y1HRxC {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.addfunds .click-on-initia-eposit-to-begin-XawMdy {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(44.44% - 13px);
  white-space: nowrap;
  width: calc(100.00% - 65px);
}
.addfunds .click-on-the-wa-account-option-6G7QO0 {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.addfunds .click-on-the-wa-account-option-wcA9lP {
  background-color: transparent;
  height: 29px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 24px);
}
.addfunds .click-pay-yS0cYZ {
  background-color: transparent;
  bottom: calc(36.70% - 11px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}
.addfunds .complete-the-re-ard-information-yS0cYZ {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(29.36% - 9px);
  white-space: nowrap;
  width: calc(100.00% - 119px);
}
.addfunds .confirm-deposit-e-prompt-window-XawMdy {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.addfunds .ellipse-13-6G7QO0 {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.addfunds .ellipse-14-6G7QO0 {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.addfunds .ellipse-15-aewt80 {
  background-color: var(--licorice);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.addfunds .ellipse-16-aewt80 {
  background-color: var(--licorice);
  border-radius: 3px;
  bottom: calc(32.52% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
  top: 313px;
}
.addfunds .ellipse-21-XawMdy {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.addfunds .ellipse-22-XawMdy {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(48.42% - 3px);
  width: 6px;
}
.addfunds .ellipse-23-XawMdy {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.addfunds .ellipse-24-yS0cYZ {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.addfunds .ellipse-25-yS0cYZ {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(34.85% - 2px);
  width: 6px;
}
.addfunds .ellipse-26-yS0cYZ {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(37.12% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.addfunds .ellipse-27-yS0cYZ {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.addfunds .enter-the-deposit-amount-value-XawMdy {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 89px);
}
.addfunds .everything-you-se-our-services-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.addfunds .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: -554px;
  margin-top: -304px;
  min-height: 866px;
  position: relative;
  width: 2288px;
}
.addfunds .flex-col-Xi618D {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 880px;
  position: relative;
  width: 530px;
}
.addfunds .flex-col-dXBp89 {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 854px;
  position: relative;
  width: 732px;
}
.addfunds .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-top: 6%;
}
.addfunds .flexbox2 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.addfunds .letters {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -250px;
}
.addfunds .letters2 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -250px;
}
.addfunds .grey-back-y1HRxC {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.addfunds .group-10-0PZcXW {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 84px;
  margin-left: 23px;
  margin-top: 14px;
  position: relative;
  width: 80%;
}
.addfunds .group-11-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 129px;
  margin-top: 17px;
  position: relative;
  width: 86%;
}
.addfunds .group-12-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 138px;
  margin-right: 17.0px;
  margin-top: 10px;
  position: relative;
  width: 475px;
}
.addfunds .group-13-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 101px;
  margin-right: 122.0px;
  margin-top: 34px;
  position: relative;
  width: 370px;
}
.addfunds .group-9-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-right: 8px;
  margin-top: 16px;
  position: relative;
  width: 80%;
}
.addfunds .image-13-y0eQTV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 37%;
}

.addfunds .image-14-y0eQTV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 158px;
  top: 6px;
  position: relative;
  width: 40%;
}
.addfunds .image-15-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 132px;
  margin-bottom: 250px;
  object-fit: cover;
  position: relative;
  width: 60%;
}
.addfunds .line-1-y1HRxC {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.addfunds .line-8-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%
}
.addfunds .manual-payments-nto-your-wallet-aewt80 {
  background-color: transparent;
  color: var(--licorice);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 56px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 80%;
}
.addfunds .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.addfunds .select-the-paym-ent-by-currency-6G7QO0 {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80%;
}
.addfunds .select-the-paym-ent-by-currency-wcA9lP {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 168px);
}
.addfunds .swaps-fx-portal-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.addfunds .swaps-fx-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.addfunds .swapslogoimage-transparent-y1HRxC {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.addfunds .wait-to-see-this-window-yS0cYZ {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: 212px;
}
.addfunds .x1-wcA9lP {
  background-color: transparent;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: 17px;
}
.addfunds .x2-wcA9lP {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 17px;
}
.addfunds .yellow-thin-rectangle-pqRchW {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.addfunds .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.addfunds .you-will-be-red-tal-to-continue-yS0cYZ {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}



@media (min-width: 2000px) {
  .addfunds .swapslogoimage-transparent-y1HRxC {
    margin-top: -22%;
  }
  .addfunds .swaps-fx-user-guide-y1HRxC {
    font-size: 46.5px;
  }
  .addfunds .add-funds-y1HRxC {
    font-size: 125px !important;
  }
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .addfunds .letters {
    top: -287px;
    width: 62%;
  }
  .addfunds .automatic-payme-for-transaction-aewt80 {
    line-height: 43px;
  }
  .addfunds .manual-payments-nto-your-wallet-aewt80 {
    line-height: 41px;
  }
  .addfunds .group-11-0PZcXW {
    height: 170px;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW,
  .addfunds .automatic-payme-dit-debit-cards-0PZcXW {
    font-size: 62px;
  }
  .addfunds .group-10-0PZcXW {
    margin-top: 62px;
    margin-left: 6px;
    height: 84px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 29px !important;
  }
  .addfunds .automatic-payme-for-transaction-aewt80,
  .addfunds .manual-payments-nto-your-wallet-aewt80 {
    font-size: 30px !important;
  } 
  .addfunds .ellipse-16-aewt80 {
    top: 421px;
  }
  .addfunds .group-9-0PZcXW {
    left: 40px;
  }
  .addfunds .letters2 {
    top: -298px;
  }
  .addfunds .group-13-0PZcXW {
    margin-top: 64px;
    height: 129px;
  }
  .addfunds .group-12-0PZcXW {
    height: 167px;
    margin-top: 31px;
  }
  .addfunds .image-13-y0eQTV {
    margin-left: 11%;
    margin-top: 12%;
  }
  .addfunds .flex-row-C61RwL {
    margin-top: -7%;
  }
}



@media (max-width: 2000px) {
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .addfunds .add-funds-y1HRxC {
    top: 137%;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW,
  .addfunds .automatic-payme-dit-debit-cards-0PZcXW {
    font-size: 50px;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 15%;
  }
  .addfunds .group-10-0PZcXW {
    margin-top: 67px;
    margin-left: -2px;
  }
  .addfunds .swapslogoimage-transparent-y1HRxC {
    margin-top: -18%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 23px !important;
  }
  .addfunds .group-11-0PZcXW {
    width: 55%;
    height: 150px;
  }
  .addfunds .group-9-0PZcXW {
    left:  41px;
  }
  .addfunds .automatic-payme-for-transaction-aewt80,
  .addfunds .manual-payments-nto-your-wallet-aewt80 {
    font-size: 23px;
  }
  .addfunds .ellipse-16-aewt80 {
    top: 386px;
  }
  .addfunds .flex-row-C61RwL {
    margin-top: -3%;
  }
  .addfunds .image-13-y0eQTV {
    margin-left: 12%;
    width: 34%;
  }
  .addfunds .manual-payments-nto-your-wallet-aewt80 {
    line-height: 23px;
  }
}



@media (max-width: 1500px) {
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 80px;
    line-height: 71px;
    top: 190px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 338px;
    font-size: 45px !important;
    width: 500px;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 17%;
  }
  .addfunds .add-funds-y1HRxC {
    font-size: 98.5px;
    top: 135%;
  }
  .addfunds .flex-row-C61RwL {
    margin-top: 0%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 20px !important;
  }
  .addfunds .automatic-payme-for-transaction-aewt80,
   .addfunds .manual-payments-nto-your-wallet-aewt80 {
     font-size: 20px !important;
   }
  .addfunds .letters {
    top: -159px;
  }
  .addfunds .image-13-y0eQTV {
    margin-left: 20%;
    width: 30%;
  }
}



@media (min-width: 1500px) {
  .addfunds .add-funds-y1HRxC {
    font-size: 110px !important;
    top: 129%;
  }
  
  .addfunds .grey-back-y1HRxC {
    height: 104%;
  }
  .addfunds .line-1-y1HRxC {
    top: 110px;
  }
}



@media (max-width: 1200px) {

  .addfunds .swaps-fx-user-guide-y1HRxC {
    font-size: 30px;
    top: 57px;
  }
  .addfunds .line-1-y1HRxC {
    top: 85px;
  }
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .addfunds .add-funds-y1HRxC {
    font-size: 79.5px;
    top: 119%;
  }
  /* .addfunds .letters {
    top: -36%;
  }
 
  .addfunds .click-on-the-wa-account-option-wcA9lP,
  .addfunds .select-the-paym-ent-by-currency-wcA9lP,
  .addfunds .manual-payments-nto-your-wallet-aewt80,
  .addfunds .automatic-payme-for-transaction-aewt80{
    font-size: 19px !important;
  }
  .addfunds .image-13-y0eQTV {
    width: 36%;
    margin-left: 15%;
  } */
  .addfunds .image-15-C61RwL {
    top: -11%;
  }
  .addfunds .image-14-y0eQTV {
    top: -55px;
  }
  .addfunds .group-10-0PZcXW {
    height: 53px;
    margin-top: 25px;
    margin-left: -3px;
  }
  /* .segoeui-regular-normal-nero-20px {
    font-size: 19px !important;
  }
  .addfunds .ellipse-16-aewt80 {
    top: 294px;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW, 
  .addfunds .automatic-payme-dit-debit-cards-0PZcXW {
    font-size: 45px;
  } */
}



@media (max-width: 1200px) {
  .addfunds .grey-back-y1HRxC {
    height: 91%;
  }
  .addfunds .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .addfunds .line-8-0xy0vn {
   margin-top: 15%;
  }
  .addfunds .flex-row-C61RwL {
    margin-top: -7%;
  }
  .addfunds .letters {
    margin-right: 5%;
    margin-left: 12%;
    width: 100%;
    top: 150px;
  }
  .addfunds .letters2 {
    margin-right: 5%;
    margin-left: 12%;
    width: 100%;
    top: -46px;
  }
  .addfunds .image-13-y0eQTV {
    margin-left: auto;
    margin-right: auto;
    margin-top: 276px;
    width: 57%;
  }
  .addfunds .image-14-y0eQTV {
    margin-left: auto;
    margin-right: auto;
    margin-top: 124px;
    width: 57%;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
    font-size: 33px;
  }
  .addfunds .group-10-0PZcXW {
    height: 67px;
    margin-left: 5px;
  }
  .addfunds .click-on-the-wa-account-option-6G7QO0, 
  .addfunds .select-the-paym-ent-by-currency-6G7QO0,
  .addfunds .click-on-the-wa-account-option-wcA9lP, 
  .addfunds .select-the-paym-ent-by-currency-wcA9lP, 
  .addfunds .manual-payments-nto-your-wallet-aewt80, 
  .addfunds .automatic-payme-for-transaction-aewt80{
    font-size: 14px;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW, 
  .addfunds .automatic-payme-dit-debit-cards-0PZcXW {
    font-size: 30px;
  }
  .addfunds .group-9-0PZcXW {
    left: 38px;
    margin-top: 6%;
  }
  .addfunds .click-on-the-wa-account-option-wcA9lP {
    white-space: normal;
  }
  .addfunds .select-the-paym-ent-by-currency-wcA9lP {
    top: 86%;
  }
  .addfunds .x2-wcA9lP {
    top: 88%;
  }
  .addfunds .group-11-0PZcXW {
    margin-top: 5%;
  }
  .addfunds .group-11-0PZcXW,
  .addfunds .automatic-payme-for-transaction-aewt80 {
    width: 100%;
  }
  .addfunds .ellipse-16-aewt80 {
    top: 88%;
  }
  .addfunds .flexbox2 {
    top: -170px;
  }
  .addfunds .image-15-C61RwL {
    width: 70%;
    top: -400px;
    margin-top: 50px;
  }
  .addfunds .click-on-the-wa-account-option-6G7QO0 {
    white-space: normal;
  }
  .addfunds .select-the-paym-ent-by-currency-6G7QO0 {
    top: 80%;
  }
  .addfunds .ellipse-14-6G7QO0 {
    top: 104%;
  }
}



@media (max-width: 900px) {
  .addfunds .grey-back-y1HRxC {
    height: 125%;
  }
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .addfunds .add-funds-y1HRxC {
    font-size: 44.5px;
    margin-top: 15%;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 29%;
  }
}




@media (max-width: 600px) {
  .addfunds .yellow-thin-rectangle-y1HRxC,
  .addfunds .yellow-thin-rectangle-pqRchW {
    height: 5px;
  }
  .addfunds .grey-back-y1HRxC {
    top: 23px;
    height: 129%;
  }
  .addfunds .swapslogoimage-transparent-y1HRxC {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .addfunds .swaps-fx-user-guide-y1HRxC {
    font-size: 22.5px;
    top: 48px;
  }
  .addfunds .line-1-y1HRxC {
    top: 74px;
  }
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 169px;
    font-size: 19px !important;
    width: 205px;
    line-height: 20px;
  }
  .addfunds .add-funds-y1HRxC {
    font-size: 31.5px;
    margin-top: 11%;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 26%;
  }
  .addfunds .letters {
    width: 100%;
    top: 82px;
  }
  .addfunds .group-10-0PZcXW {
    height: 52px;
    width: 80%;
  }
  .addfunds .click-on-the-wa-account-option-6G7QO0, 
  .addfunds .select-the-paym-ent-by-currency-6G7QO0, 
  .addfunds .click-on-the-wa-account-option-wcA9lP, 
  .addfunds .select-the-paym-ent-by-currency-wcA9lP,
   .addfunds .manual-payments-nto-your-wallet-aewt80,
   .addfunds .automatic-payme-for-transaction-aewt80 {
     font-size: 14px !important;
   }
   .addfunds .group-9-0PZcXW {
     left: 27px;
     height: 53px;
   }
   .addfunds .group-11-0PZcXW, 
   .addfunds .automatic-payme-for-transaction-aewt80 {
     width: 91%;
   }
   .addfunds .ellipse-16-aewt80 {
     top: 270px;
   }
   .addfunds .image-13-y0eQTV {
     margin-top: 124px;
     width: 72%;
   }
   .addfunds .group-12-0PZcXW {
     height: 87px;
     margin-top: -6px;
   }
   .addfunds .group-13-0PZcXW {
     height: 73px;
     margin-top: 7px;
   }
   .addfunds .automatic-payme-dit-debit-cards-0PZcXW,
   .addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
     font-size: 19px !important;
   }
   .addfunds .enter-the-deposit-amount-value-XawMdy,
   .addfunds .click-on-initia-eposit-to-begin-XawMdy,
   .addfunds .confirm-deposit-e-prompt-window-XawMdy,
   .addfunds .wait-to-see-this-window-yS0cYZ,
   .addfunds .complete-the-re-ard-information-yS0cYZ,
   .addfunds .click-pay-yS0cYZ,
   .addfunds .you-will-be-red-tal-to-continue-yS0cYZ {
     font-size: 12px;
   }
   .addfunds .x1-wcA9lP,
   .addfunds .x2-wcA9lP {
     font-size: 10px !important;
   }
   .segoeui-regular-normal-nero-20px {
    font-size: 10px !important;
  }
  .addfunds .ellipse-16-aewt80 {
    top: 87%;
  }
  .addfunds .group-11-0PZcXW {
    margin-top: 9%;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
    font-size: 24px !important;
  }
}



@media (max-width: 400px) {
  .addfunds .grey-back-y1HRxC {
    top: 23px;
    height: 147%;
  }
  .addfunds .swapslogoimage-transparent-y1HRxC {
    margin-top: -6%;
    width: 1;
  }
  .addfunds .swaps-fx-user-guide-y1HRxC {
    font-size: 18px;
    top: 48px;
  }
  .addfunds .line-1-y1HRxC {
    top: 72px;
  }
  .addfunds .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .addfunds .everything-you-se-our-services-y1HRxC  {
    top: 169px;
    font-size: 16.5px !important;
    width: 153px;
    line-height: 14px;
  }
  .addfunds .add-funds-y1HRxC {
    margin-top: 22%;
    font-size: 23.5px;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 39%;
  }
  .addfunds .flex-row-C61RwL {
    margin-top: -14%;
  }
  .addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
    font-size: 17px;
  }
  .addfunds .click-on-the-wa-account-option-6G7QO0, 
  .addfunds .select-the-paym-ent-by-currency-6G7QO0, 
  .addfunds .click-on-the-wa-account-option-wcA9lP, 
  .addfunds .select-the-paym-ent-by-currency-wcA9lP, 
  .addfunds .manual-payments-nto-your-wallet-aewt80, 
  .addfunds .automatic-payme-for-transaction-aewt80 {
    font-size: 11px !important;
  }
  .addfunds .click-on-the-wa-account-option-6G7QO0 {
    white-space: normal;
    width: 80%;
    line-height: 19px;
  }
  .addfunds .select-the-paym-ent-by-currency-6G7QO0 {
    height: 29px;
    line-height: 14px;
    width: 80%;
    white-space: normal;
    top: 76%;

  }
  .addfunds .select-the-paym-ent-by-currency-wcA9lP {
    line-height: 16px;
    white-space: normal;
    top: 72%;
    width: 80%;
  }
  .addfunds .x2-wcA9lP {
    top: 61%;
  }
  .addfunds .click-on-the-wa-account-option-wcA9lP {
    white-space: normal;
    line-height: 17px;
    top: 2%;
  }
  .addfunds .ellipse-14-6G7QO0 {
    top: 84%;
  }
  .addfunds .group-10-0PZcXW {
    height: 42px;
  }
  .addfunds .group-9-0PZcXW {
    height: 45px;
    margin-top: 11%;
  }
  .addfunds .ellipse-16-aewt80 {
    top: 92%;
  }
  .addfunds .group-11-0PZcXW {
    height: 117px;
    margin-top: 13%;
  }
  .addfunds .select-the-paym-ent-by-currency-wcA9lP,
  .addfunds .click-on-the-wa-account-option-wcA9lP {
    left: 14px;
    font-size: 11px !important;
  }
  .segoeui-regular-normal-nero-20px,
  .addfunds .automatic-payme-for-transaction-aewt80,
  .addfunds .manual-payments-nto-your-wallet-aewt80 {
    font-size: 11px !important;
  }
.addfunds {
  height: 1700px;
}
.addfunds .automatic-payme-dit-debit-cards-0PZcXW,
.addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
  font-size: 15px !important;
}
.addfunds .automatic-payme-for-transaction-aewt80 {
  top: 90%;
}
.addfunds .adding-funds-to-ounts-made-easy-0PZcXW {
  font-size: 17px !important;
}
.addfunds .letters2 {
  margin-top: -29%;
  top: 0px;
}
.addfunds .image-14-y0eQTV {
  margin-top: 14%;
  top: 0px;
}
  
}



@media (max-width: 300px) {
  .addfunds .grey-back-y1HRxC {
    height: 144%;
  }
  .addfunds .add-funds-y1HRxC {
    top: 89%;
  }
  .addfunds .line-8-0xy0vn {
    margin-top: 79px;
  }
  .addfunds .swaps-fx-user-guide-y1HRxC {
    font-size: 15px;
    top: 42px;
  }
  .addfunds .line-1-y1HRxC {
    top: 63px;
  }

  .addfunds .group-10-0PZcXW {
    margin-top: 1px;
  }
  .addfunds .group-9-0PZcXW {
    margin-top: -4px;
  }
  .addfunds .ellipse-13-6G7QO0,
  .addfunds .ellipse-14-6G7QO0,
  .addfunds .ellipse-15-aewt80,
  .addfunds .ellipse-16-aewt80 {
    height: 4px;
    width: 4px;
  }
  .addfunds .group-11-0PZcXW {
    margin-top: -1px;
  }

  .addfunds .ellipse-16-aewt80 {
    top: 189px;
  }
}
