/* screen - forgot-password */

.forgot-password {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.forgot-password .black-top-rectangle-4eduM0 {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  width: 100%;
  top: 0px;
}
.forgot-password .black-top-rectangle-BJQsbv {
  background-color: rgba(4,27,45,1.0);
  height: 36px;
  left: 2px;
  position: absolute;
  top: 304px;
  width: 1734px;
}
.forgot-password .everything-you-se-our-services-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.forgot-password .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-top: -2%;
    
}
.forgot-password .forgot-password-4eduM0 {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.forgot-password .grey-back-4eduM0 {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.forgot-password .image-5-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 14%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 35%;
}
.forgot-password .image-6-RH0WJ5 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 42%;
  top: -153px;

}
.forgot-password .lines {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 8%;
  margin-right: 2%;
  width: 40%;
}
.forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 23px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 45%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
  margin-top: 14%;
}
.forgot-password .line-1-4eduM0 {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.forgot-password .line-3-RH0WJ5 {
  border-left: 2px solid black;
  height: 61%;
  position: absolute;
  left: 77%;
  margin-top: -14%;
}

.forgot-password .line-8-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%
}
.forgot-password .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.forgot-password .overlap-group1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.forgot-password .polygon-1-RH0WJ5 {
  background-color: transparent;
  bottom: calc(74.95%);
  height: 57px;
  object-fit: cover;
  position: relative;
  right: calc(-46.67%);
  margin-top: 5%;
  width: 64px;
}
.forgot-password .swaps-fx-portal-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.forgot-password .swaps-fx-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.forgot-password .swapslogoimage-transparent-4eduM0 {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -466px;
  font-size: 17px;

}
.yellow-thin-rectangle-4eduM0 {
    background-color: rgba(249,166,2,1.0);
    height: 8px;
    left: 0px;
    position: absolute;
    top: 41px;
    width: 100%;
}

.forgot-password .yellow-thin-rectangle-BJQsbv {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}

.forgot-password .line-4-RH0WJ5 {
  border-bottom: 2px solid black;
  position: absolute;
  left: 54%;
  margin-top: 4%;
  width: 23%;
}

@media (min-width: 2000px) {
  .forgot-password .swaps-fx-user-guide-4eduM0 {
    font-size: 46.5px;
  }
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
    font-size: 39px !important;
    margin-left: 45% !important;
    margin-top: 10% !important;
  }
  .forgot-password .overlap-group1-C61RwL {
    height: 2000px;
  }
  .forgot-password .swapslogoimage-transparent-4eduM0 {
    margin-top: -22%;
  }
  .forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
    top: -553px !important;
    font-size: 29px !important;
  }
  .forgot-password .line-3-RH0WJ5 {
    position: relative;
    left: 132%;
    margin-top: -4%;
    height: 364px;
  }
  .forgot-password .line-4-RH0WJ5 {
    position: relative;
    left: 51%;
    margin-top: 0%;
    width: 81%;
  }
  .forgot-password .polygon-1-RH0WJ5 {
    margin-top: -3%;
  }
  .forgot-password .image-6-RH0WJ5 {
    top: -67%;
  }
}

@media (max-width: 2000px) {
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .forgot-password .swapslogoimage-transparent-4eduM0 {
    margin-top: -18%;
  }
  .forgot-password .forgot-password-4eduM0 {
    top: 137%;
  }
  .forgot-password .line-3-RH0WJ5 {
    height: 41%;
    margin-top: -8%;
  }
  .forgot-password .line-4-RH0WJ5 {
    left: 53%;
    margin-top: 4%;
    width: 24%;
  }
  .forgot-password .polygon-1-RH0WJ5 {
    margin-top: 6%;
  }
  
  .forgot-password .line-8-C61RwL {
    margin-top: 15%;
  }
 
}

@media (max-width: 1500px) {
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 80px;
    line-height: 71px;
    top: 190px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 338px;
    font-size: 45px !important;
    width: 500px;
  }
  .forgot-password .forgot-password-4eduM0 {
    font-size: 58.5px;
    top: 137%;
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 17%;
  }
  .forgot-password .flex-row-C61RwL {
    margin-top: -6%;
  }
  .forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
    top: -383px;
    font-size: 18px;
  }
}

@media (min-width: 1500px) {
  .forgot-password .line-1-4eduM0 {
    top: 110px;
  }
  .forgot-password .forgot-password-4eduM0 {
    font-size: 99px !important;
    top: 129%;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
    font-size: 22px;
    margin-left: 58%;
    margin-top: 12%;
  }
  
  .forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
    font-size: 23px;
  }
  .forgot-password .grey-back-4eduM0 {
    height: 104%;
  }
}

@media (max-width: 1200px) {
  .forgot-password .grey-back-4eduM0 {
    height: 91%;
  }
 
  .addfunds .line-1-y1HRxC {
    width: 50%;
  }
  .forgot-password .swapslogoimage-transparent-4eduM0 {
    margin-left: 17%;
    width: 123%;
    margin-top: -16%;
  }
  .forgot-password .swaps-fx-user-guide-4eduM0 {
    font-size: 30px;
    top: 57px;
  }
  .forgot-password .forgot-password-4eduM0 {
    font-size: 58.5px;
    top: 119%;
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 15%;
  }
  .forgot-password .line-1-4eduM0 {
    top: 85px;
  }
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
    font-size: 14px;
    margin-left: 56%;
    margin-top: 10%;
  }

.forgot-password .image-6-RH0WJ5 {
  margin-left: 17%;
}
.forgot-password .image-5-dXBp89 {
  margin-left: 35%;
  width: 35%;
}
.forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
  top: -398px;
  font-size: 24px;
  white-space: normal;
  width: 44%;
}
.forgot-password .line-3-RH0WJ5 {
  top: -14%;
}
.forgot-password .line-4-RH0WJ5 {
  margin-top: 0%;
  width: 15%;
  left: 62%;
}
.forgot-password .polygon-1-RH0WJ5 {
  margin-top: -5%;

}

}


@media (max-width: 900px) { 
  .forgot-password .grey-back-4eduM0 {
    height: 125%;
  }
  .forgot-password .forgot-password-4eduM0 {
    font-size: 37.5px;
    margin-top: 15%;
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 29%;
  }
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 46px;
    line-height: 51px;
    top: 155px;
  }
.forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
  margin-left: 54%;
  font-size: 10px;
  margin-top: 24%;
}
.forgot-password .everything-you-se-our-services-4eduM0 {
  top: 256px;
  font-size: 31px !important;
  width: 378px;
  line-height: 34px;
}
.forgot-password .image-5-dXBp89 {
  margin-top: 15%;
}
.forgot-password .image-6-RH0WJ5 {
  margin-left: 12%;
}
.forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
  top: -254px;
  font-size: 16px;
}
.forgot-password .line-3-RH0WJ5 {
  height: 167px;
  margin-top: -57%;
  left: 101%;
  position: relative;
}
.forgot-password .line-4-RH0WJ5 {
  top: -2%;
  width: 46%;
  left: 56%;
  position: relative;
}
.forgot-password .polygon-1-RH0WJ5 {
  margin-top: -8%;
}

}


@media (max-width: 600px) {
  .forgot-password .grey-back-4eduM0 {
    top: 23px;
    height: 129%;
  }
  .forgot-password .swapslogoimage-transparent-4eduM0 {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .forgot-password .swaps-fx-user-guide-4eduM0 {
    font-size: 22.5px;
    top: 48px;
  }
  .forgot-password .line-1-4eduM0 {
    top: 74px;
  }
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 169px;
    font-size: 19px !important;
    width: 205px;
    line-height: 20px;
  }
  .forgot-password .forgot-password-4eduM0 {
    font-size: 25.5px;
    margin-top: 11%;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
      margin-top: 19%;
      font-size: 6px;
      margin-left: 57%;
  
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 26%;
  }
  .forgot-password .image-5-dXBp89 {
    background-color: transparent;
    flex-shrink: 1;
    height: auto;
    object-fit: cover;
    position: absolute;
    margin-top: 24%;
    margin-left: 58%;
    width: 36%;
  }
  .forgot-password .image-6-RH0WJ5 {
    margin-left: 6%;
    margin-top: 83%;
    width: 39%;
  }
  .forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
    top: 161px;
    font-size: 11px;
  }
  .forgot-password .line-3-RH0WJ5 {
    height: 100px;
    margin-top: 139%;
    left: 129%;
  }
  .forgot-password .line-4-RH0WJ5 {
    margin-top: 0%;
    left: 58%;
    width: 72%;
  }
  .forgot-password .polygon-1-RH0WJ5 {
    margin-top: -5%;
    height: 30px;
    width: 30px;
  }
  .container-center-horizontal {
    height: 800px;
  }
}



@media (max-width: 400px) {
  .forgot-password .grey-back-4eduM0 {
    top: 23px;
    height: 147%;
  }
  .forgot-password .swapslogoimage-transparent-4eduM0 {
    margin-top: -6%;
    width: 1;
  }
  .forgot-password .swaps-fx-user-guide-4eduM0 {
    font-size: 18px;
    top: 48px;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
    margin-top: 32%;
    font-size: 5px;
    margin-left: 54%;
  }
  
  .forgot-password .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }

  .forgot-password .line-1-4eduM0 {
    top: 72px;
  }
  .forgot-password .everything-you-se-our-services-4eduM0 {
    top: 169px;
    font-size: 16.5px !important;
    width: 153px;
    line-height: 14px;
  }
  .forgot-password .forgot-password-4eduM0 {
    margin-top: 22%;
    font-size: 18.5px;
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 39%;
  }
  .forgot-password .image-6-RH0WJ5 {
    margin-top: 110%;
    margin-left: 10%;
  }
  .forgot-password .image-5-dXBp89 {
    margin-top: 27%;
  }
  .forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
    top: 117px;
    font-size: 9px;
  }
  .forgot-password .line-3-RH0WJ5 {
    height: 100px;
    margin-top: 148%;
    left: 121%;
  }
  .forgot-password .line-4-RH0WJ5 {
    margin-top: 0%;
    left: 57%;
    width: 66%;
  }
  .forgot-password .polygon-1-RH0WJ5 {
    margin-top: -10%;
  }
}


@media (max-width: 300px) {
  .forgot-password .grey-back-4eduM0 {
    height: 144%;
  }
  .forgot-password .swaps-fx-user-guide-4eduM0 {
    font-size: 15px;
    top: 42px;
  }
  .forgot-password .line-1-4eduM0 {
    top: 63px;
  }
  .forgot-password .forgot-password-4eduM0 {
   top: 89%;
  }
  .forgot-password .line-8-C61RwL {
    margin-top: 79px;
  }
  .forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
    margin-top: 66px;
    margin-left: 135px;
  }
  .forgot-password .image-6-RH0WJ5 {
    margin-top: 124%;
    margin-left: 8%;
  }
  .forgot-password .line-3-RH0WJ5 {
    margin-top: 151%;
  }
  .forgot-password .polygon-1-RH0WJ5 {
    margin-top: -13%;
  }
}
