/* screen - forgot-password */

.forgot-password {
  align-items: center;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1744px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1726px;
}
.forgot-password .black-top-rectangle-4eduM0 {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  left: 10px;
  position: absolute;
  top: 304px;
  width: 1920px;
}
.forgot-password .black-top-rectangle-BJQsbv {
  background-color: rgba(4,27,45,1.0);
  height: 36px;
  left: 2px;
  position: absolute;
  top: 304px;
  width: 1734px;
}
.forgot-password .everything-you-se-our-services-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 154px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 589px;
  width: 350px;
}
.forgot-password .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 474px;
  justify-content: flex-start;
  margin-left: 120.0px;
  margin-top: 15px;
  min-width: 1192px;
  position: relative;
  width: auto;
}
.forgot-password .forgot-password-4eduM0 {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 818px;
  white-space: nowrap;
  width: auto;
}
.forgot-password .grey-back-4eduM0 {
  background-color: rgba(238,238,238,1.0);
  height: 419px;
  left: 10px;
  position: absolute;
  top: 358px;
  width: 1726px;
}
.forgot-password .image-5-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 474px;
  margin-left: 86px;
  object-fit: cover;
  position: relative;
  width: 520px;
}
.forgot-password .image-6-RH0WJ5 {
  background-color: transparent;
  height: 330px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 462px;
}
.forgot-password .it-can-be-compl-ut-weve-got-you-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 354px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 823px;
  width: 777px;
}
.forgot-password .line-1-4eduM0 {
  background-color: transparent;
  height: 1px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 418px;
  width: 1604px;
}
.forgot-password .line-3-RH0WJ5 {
  background-color: transparent;
  height: 213px;
  left: 930px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}
.forgot-password .line-4-RH0WJ5 {
  background-color: transparent;
  height: 19px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 194px;
  width: 468px;
}
.forgot-password .line-8-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: 30.0px;
  margin-top: 5px;
  object-fit: cover;
  position: relative;
  width: 1599px;
}
.forgot-password .overlap-group-C61RwL {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 860px;
  margin-right: -552px;
  margin-top: -304px;
  position: relative;
  width: 2288px;
}
.forgot-password .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 392px;
  margin-right: 148.5px;
  margin-top: 4px;
  position: relative;
  width: 950px;
}
.forgot-password .polygon-1-RH0WJ5 {
  background-color: transparent;
  height: 47px;
  left: 454px;
  object-fit: cover;
  position: absolute;
  top: 180px;
  width: 57px;
}
.forgot-password .swaps-fx-portal-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 154px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  top: 503px;
  white-space: nowrap;
  width: auto;
}
.forgot-password .swaps-fx-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 378px;
  white-space: nowrap;
  width: auto;
}
.forgot-password .swapslogoimage-transparent-4eduM0 {
  background-color: transparent;
  height: 838px;
  left: 573px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1715px;
}
.forgot-password .to-retrieve-you-ign-up-register-dXBp89 {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22px;
  margin-bottom: 64.0px;
  min-height: 62px;
  position: relative;
  text-align: left;
  width: 586px;
}
.forgot-password .yellow-thin-rectangle-4eduM0 {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 345px;
  width: 1930px;
}
.forgot-password .yellow-thin-rectangle-BJQsbv {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 10px;
  position: absolute;
  top: 344px;
  width: 1726px;
}
