/* screen - history */

.history {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.container-center-horizontal {
  height: 4000px;
}
.history .words {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  margin-top: 13%;
}
.history .available-filters-search-BxCq5y {
  background-color: transparent;
  height: 52px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 90%;
}
.history .black-top-rectangle-pqRchW {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.history .black-top-rectangle-y1HRxC {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.history .choose-the-desi-d-category-type-PyC6bq {
  background-color: transparent;
  bottom: calc(28.78% - 8px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 173px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 95%;
}
.history .choose-the-wall-cy-tile-to-view-9DCiFf {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 90%;
}
.history .click-the-cance-der-to-complete-PiOlGO {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.history .click-the-targe-et-more-details-BKbGut {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.history .confirm-the-not-of-cancellation-PiOlGO {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 41px);
}
.history .date-range-CX8jfd {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 50px);
}
.history .download-order-ceipt-if-needed-BKbGut {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  top: 43px;
  width: calc(100.00% - 103px);
}
.history .ellipse-57-CX8jfd {
  background-color: var(--dove-gray);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(16.98% - 1px);
  width: 6px;
}
.history .ellipse-58-CX8jfd {
  background-color: var(--dove-gray);
  border-radius: 3px;
  bottom: calc(22.64% - 1px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
  top: 48px;
}
.history .ellipse-59-9DCiFf {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.history .ellipse-60-9DCiFf {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(48.42% - 3px);
  width: 6px;
}
.history .ellipse-61-9DCiFf {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.history .ellipse-62-PyC6bq {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.history .ellipse-63-PyC6bq {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 6px;
}
.history .ellipse-64-PyC6bq {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(30.25% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
  top: 126px;
}
.history .ellipse-65-PyC6bq {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
  top: 179px;
}
.history .ellipse-66-BKbGut {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(31.98% - 5px);
  width: 6px;
}
.history .ellipse-67-BKbGut {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(22.64% - 1px);
  height: 6px;
  left: 0px;
  top: 57px;
  position: absolute;
  width: 6px;
}
.history .ellipse-68-PiOlGO {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(16.98% - 1px);
  width: 6px;
}
.history .ellipse-69-PiOlGO {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(22.64% - 1px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.history .everything-you-se-our-services-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.history .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  top: 0px;
  width: 100%;
}
.history .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 50%;
  margin-top: 5%;
}
.history .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.history .flex-row-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-top: 4%;
}
.history .free-text-search-CX8jfd {
  background-color: transparent;
  bottom: -2px;
  color: var(--dove-gray);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 14px);
}
.history .funds-history-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
  margin-left: 25%;
}
.history .grey-back-y1HRxC {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.history .group-24-BxCq5y {
  background-color: transparent;
  height: 59px;
  left: 40px;
  position: absolute;
  top: 67px;
  width: 157px;
}
.history .group-25-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 169px;
  margin-top: 5%;
  margin-right: -23%;
  position: relative;
  width: 96%;
}
.history .group-26-BdpSxK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 83px;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  position: relative;
  width: 38%;
}
.history .group-27-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 68px;
  margin-left: 14%;
  margin-top: 9%;
  position: relative;
  width: 80%;
}
.history .group-28-RH0WJ5 {
  background-color: transparent;
  height: 64px;
  margin-left: 24%;
  position: relative;
  width: 95%;
  margin-top: 3%;
}
.history .history-transactions-y1HRxC {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.history .hover-click-on-ailable-options-9DCiFf {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(81.00% - 30px);
}
.history .hover-click-on-ailable-options-PyC6bq {
  background-color: transparent;
  height: 59px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: 95%;
}
.history .image-27-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  position: relative;
  width: 80%;
}
.history .image-28-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 13%;
  margin-right: auto;
  margin-top: 9%;
  position: relative;
  width: 34%;
}
.history .image-29-BdpSxK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 44%;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 1%;
}
.history .image-30-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  object-fit: cover;
  position: relative;
  width: 68%;
}
.history .image-31-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-left: 11%;
  object-fit: cover;
  position: relative;
  width: 68%;
}
.history .image-32-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: 5%;
  margin-top: 77px;
  position: relative;
  width: 35%;
}
.history .line-1-y1HRxC {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.history .line-14-0xy0vn {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 11%;
  object-fit: cover;
  position: relative;
  width: 70%;
}
.history .line-15-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  object-fit: cover;
  position: relative;
  width: 70%;
}
.history .line-16-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  object-fit: cover;
  position: relative;
  width: 70%;
}
.history .line-8-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.history .order-history-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
  top: 0.5%;
  margin-right: 72%;
  margin-top: 2%;
}
.history .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.history .overlap-group1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.history .overlap-group2-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 105px;
  margin-left: 27%;
  margin-top: 5%;
  position: relative;
  width: 95%;
}
.history .select-funds-hi-selection-tile-9DCiFf {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(44.44% - 13px);
  width: calc(89.00% - 14px);
}
.history .select-order-hi-se-the-sub-menu-PyC6bq {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 103px;
  position: absolute;
  text-align: left;
  top: calc(44.60% - 13px);
  white-space: nowrap;
  width: 95%;
}
.history .swaps-fx-portal-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.history .swaps-fx-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.history .swapslogoimage-transparent-y1HRxC {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.history .to-cancel-and-active-order-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
  margin-left: 22%;
  top: 0%;
}
.history .view-more-information-on-order-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
  margin-right: 53%;
  margin-top: -5%;
}
.history .wait-for-inform-tion-to-display-PyC6bq {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 256px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 95%;
}
.history .within-the-summ-er-history-view-RH0WJ5 {
  background-color: transparent;
  height: auto;
  margin-left: 23%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  margin-top: 7%;
  width: auto;
}
.history .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.history .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}


@media (min-width: 2000px) {
  .history .swapslogoimage-transparent-y1HRxC {
    margin-top: -22%;
  }
  .history .swaps-fx-user-guide-y1HRxC {
    font-size: 46.5px;
  }
  .history .history-transactions-y1HRxC {
    font-size: 125px !important;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .history .line-14-0xy0vn {
    margin-top: 9%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 24px !important;
  }
  .history .date-range-CX8jfd {
    width: 80%;
    font-size: 22px;
  }
  .history .free-text-search-CX8jfd {
    width: 80%;
    font-size: 22px;
  }
  .history .available-filters-search-BxCq5y {
    width: 80%;
  }
  .history .group-24-BxCq5y {
    width: 80%;
  }
  .history .group-27-C61RwL {
    margin-top: 7% !important;
  }
  .history .view-more-information-on-order-C61RwL {
    margin-right: 68%;
    margin-top: -4%;
  }
  .container-center-horizontal {
    height: 6700px !important;
  }
  .history .group-28-RH0WJ5 {
    height: 67px;
    margin-top: 2%;
    margin-left: 21%;
  }
  .oswald-light-nero-30px {
    font-size: 53px !important;
  }
  .history .order-history-C61RwL {
    margin-right: 73%;
  }
  .history .to-cancel-and-active-order-RH0WJ5 {
    margin-left: 17%;
  }
  .history .within-the-summ-er-history-view-RH0WJ5 {
    margin-left: 17%;
  }
  .history .within-the-summ-er-history-view-RH0WJ5 {
    margin-top: 6%;
  }
  .history .words {
    margin-left: 0%;
  }
  .history .image-32-RH0WJ5 {
    margin-left: 6%;
    margin-right: 9%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 24px !important;
  }
  .history .free-text-search-CX8jfd,
  .history .date-range-CX8jfd {
    font-size: 24px !important;
  }
  .history .image-31-C61RwL {
    margin-top: 83px;
  }
}

@media (max-width: 2000px) {
  .history .swapslogoimage-transparent-y1HRxC {
    margin-top: -18%;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .history .line-8-0xy0vn {
    margin-top: 15%;
  }
  .history .history-transactions-y1HRxC {
    top: 137%;
  }

}



@media (max-width: 1500px) {
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 78px;
    line-height: 71px;
    top: 190px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
  }
  .history .line-8-0xy0vn {
    margin-top: 17%;
  }
  .history .history-transactions-y1HRxC {
    font-size: 91.5px;
    top: 135%;
  }
}



@media (min-width: 1500px) {
  
  .history .grey-back-y1HRxC {
    height: 104%;
  }
  .history .line-1-y1HRxC {
    top: 110px;
  }
  .history .history-transactions-y1HRxC {
    font-size: 110px !important;
    top: 129%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 20px;
  }
  .history .image-30-C61RwL {
    margin-top: 8%;
    margin-bottom: 1%;
  }
  .history .group-27-C61RwL {
    height: 75px;
    margin-top: 9%;
  }
  .container-center-horizontal {
    height: 5500px;
  }
  .history .group-25-0PZcXW {
    height: 122px;
  }
  .history .hover-click-on-ailable-options-9DCiFf {
    width: calc(100% - 30px);
  }
  .history .select-funds-hi-selection-tile-9DCiFf {
     width: calc(100% - 14px);
  }
  .history .group-24-BxCq5y {
    width: 90%;
  }
  .history .free-text-search-CX8jfd,
  .history .date-range-CX8jfd {
    font-size: 22px;
  }
  .history .ellipse-58-CX8jfd {
    top: 42px;
  }
  .history .click-the-targe-et-more-details-BKbGut {
    top: -7px;
  }
  .history .ellipse-67-BKbGut {
    top: 55px;
  }
  .history .download-order-ceipt-if-needed-BKbGut {
    top: 40px;
  }
  .history .view-more-information-on-order-C61RwL {
    margin-right: 58%;
    margin-top: -5%;
  }
  .history .image-28-dXBp89 {
    margin-top: 8%;
    margin-left: 11%;
  }
}


@media (max-width: 1200px) {
  .history .grey-back-y1HRxC {
    height: 91%;
  }
  .history .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .history .swaps-fx-user-guide-y1HRxC {
    font-size: 30px;
    top: 57px;
  }
  .history .line-1-y1HRxC {
    top: 85px;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .history .line-8-0xy0vn {
    margin-top: 15%;
  }
  .history .history-transactions-y1HRxC {
    font-size: 69.5px;
    top: 119%;
  }
  .history .line-14-0xy0vn {
    margin-top: 14%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 18px !important;
  }
  .oswald-light-nero-30px {
    font-size: 42px !important;
  }
  .history .date-range-CX8jfd {
    width: 80%;
    font-size: 18px;
  }
  .history .image-27-0xy0vn {
    top: 2%;
  }
  .history .free-text-search-CX8jfd {
    width: 80%;
    font-size: 18px;
  }
  .history .available-filters-search-BxCq5y {
    width: 80%;
  }
  .history .group-24-BxCq5y {
    width: 80%;
    top: 41px;
  }
  .history .group-25-0PZcXW {
    height: 165px;
    margin-top: 7%;
  }
  .history .ellipse-58-CX8jfd {
    top: 42px;
  }
  .history .image-28-dXBp89 {
    margin-left: 7%;
    margin-top: 12%;
    width: 37%;
  }
  .history .order-history-C61RwL {
    margin-right: 65%;
  }
  .history .flex-row-VMr6Om {
    margin-top: 6%;
  }
  .history .image-29-BdpSxK {
    width: 43%;
  }
  .history .group-26-BdpSxK {
    margin-right: 8%;
    width: 36%;
  }
  .history .image-30-C61RwL {
    margin-top: 13%;
  }
  .history .group-27-C61RwL {
    margin-top: 14%;
  }
  .history .ellipse-66-BKbGut {
    top: 30px;
  }
  .history .click-the-targe-et-more-details-BKbGut {
    top: 15px;
  }
  .history .ellipse-67-BKbGut {
    top: 68px;
  }
  .history .download-order-ceipt-if-needed-BKbGut {
    top: 54px;
  }
}


@media (max-width: 900px) {
  .history .grey-back-y1HRxC {
    height: 125%;
  }
  .history .swapslogoimage-transparent-y1HRxC {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .history .history-transactions-y1HRxC {
    font-size: 44.5px;
    margin-top: 15%;
  }
  .history .line-8-0xy0vn {
    margin-top: 29%;
  }
  .history .image-27-0xy0vn {
    top: 70px;
  }
  .history .flex-row-C61RwL {
    flex-direction: column;
  }
  .history .image-28-dXBp89 {
    width: 70%;
    margin-top: 9%;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 17px !important;
  } 
  .history .date-range-CX8jfd {
    font-size: 17px;
  }
  .history .free-text-search-CX8jfd {
    font-size: 17px;
  }
  .history .flex-row-VMr6Om {
    flex-direction: column;
  }
  .history .order-history-C61RwL {
    margin-right: 61%;
  }
  .history .image-29-BdpSxK {
    width: 66%;
    margin-right: auto;
    margin-top: 3%;
  }
  .history .ellipse-64-PyC6bq {
    top: 93px;
  }
  .history .ellipse-65-PyC6bq {
    top: 135px;
  }
  .history .ellipse-63-PyC6bq {
    top: 57px;
  }
  .history .group-26-BdpSxK {
    margin-left: 12%;
    width: 90%;
    margin-top: 8%;
    height: 41px;
  }
  .history .image-30-C61RwL {
    margin-top: 23%;
  }
  .history .view-more-information-on-order-C61RwL {
    margin-right: 38%;
    margin-top: -5%;
    margin-bottom: 2%;
  }
  .history .group-27-C61RwL {
    margin-top: 12%;
    height: 70px;
  }
  .history .overlap-group1-C61RwL {
    flex-direction: column;
  }
  .history .image-32-RH0WJ5 {
    margin-right:auto;
    margin-left: 10%;
    margin-top: 9%;
    width: 63%;
    margin-bottom: 10%;

  }
  .history .group-28-RH0WJ5 {
    height: 69px;
    margin-top: 2%;
    margin-left: 8%;
  }
  .history .to-cancel-and-active-order-RH0WJ5 {
    margin-left: 3%;
  }
  .history .within-the-summ-er-history-view-RH0WJ5 {
    margin-left: 3%;
    margin-top: 4%;
  }
  .history .image-31-C61RwL {
    margin-top: 14%;
  }
  .history .words {
    margin-left: 9%;
    width: 90%;
  }
  .history .flex-col-dXBp89 {
    width: 90%;
    margin-left: 0%;
    margin-right: 5%;
  }
  .history .funds-history-0PZcXW {
    margin-left: 11%;
  }
  .history .group-25-0PZcXW {
    margin-right: -11%;
    height: 108px;
    width: 99%;
  }
  .history .hover-click-on-ailable-options-9DCiFf {
    width: calc(97% - 30px);
  }
  .history .overlap-group2-0PZcXW {
    margin-left: 13%;
  }
  .history .line-15-C61RwL {
    margin-top: -21%;
  }
}





@media (max-width: 600px) {
  .history .grey-back-y1HRxC {
    top: 23px;
    height: 129%;
  }
  .history .swaps-fx-user-guide-y1HRxC {
    font-size: 22.5px;
    top: 48px;
  }
  .history .line-1-y1HRxC  {
    top: 74px;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .history .history-transactions-y1HRxC {
    font-size: 31.5px;
    margin-top: 11%;
  }
  .history .line-8-0xy0vn {
    margin-top: 26%;
  }
  .history .image-27-0xy0vn {
    top: 32px;
  }
  .history .line-14-0xy0vn {
    margin-top: 12%;
  }
  .history .flex-row-C61RwL {
    flex-direction: column;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 15px !important;
  } 
  .history .order-history-C61RwL {
    margin-right: 49%;
  }
  .history .image-29-BdpSxK {
    margin-top: 4%;
  }
  .history .date-range-CX8jfd {
    font-size: 15px;
  }
  .history .free-text-search-CX8jfd {
    font-size: 15px;
  }
  .history .image-28-dXBp89 {
    margin-top: 10%;
    width: 70%;
    margin-left: 11%;
  }
  .history .line-15-C61RwL {
    margin-top: -31%;
  }
  .history .image-30-C61RwL {
    margin-top: 32%;
  }
  .history .group-27-C61RwL {
    height: 52px;
    margin-top: 28%;
  }
  .container-center-horizontal {
    height: 2500px;
  }
  .history .group-28-RH0WJ5 {
    height: 47px;
  }
  .oswald-light-nero-30px {
    font-size: 33px !important;
  }
  .history .group-25-0PZcXW {
    height: 143px;
  }
  .history .view-more-information-on-order-C61RwL {
    margin-right: 0%;
    right: 7%;
  }
  .history .ellipse-66-BKbGut {
    top: 42px;
  }
  .history .click-the-targe-et-more-details-BKbGut {
    top: 28px;
  }
  .history .words,
  .history .group-26-BdpSxK {
    width: 80%;
  }
}





@media (max-width: 400px) {
  .history .swapslogoimage-transparent-y1HRxC {
    margin-top: -6%;
    width: 1;
  }
  .history .grey-back-y1HRxC {
    top: 23px;
    height: 147%;
  }
  .history .swaps-fx-user-guide-y1HRxC {
    font-size: 18px;
    top: 48px;
  }
  .history .line-1-y1HRxC {
    top: 72px;
  }
  .history .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .history .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 16.5px !important;
    width: 153px;
    line-height: 14px;
  }
  .history .history-transactions-y1HRxC {
    margin-top: 22%;
    font-size: 23.5px;
  }
  .history .line-8-0xy0vn {
    margin-top: 39%;
  }
  .history .line-14-0xy0vn {
    margin-top: 16%;
  }
  .history .ellipse-59-9DCiFf {
    top: 9px;
  }
  .history .hover-click-on-ailable-options-9DCiFf {
    top: -5px;
  }
  .history .ellipse-60-9DCiFf {
    top: calc(32.42% - 3px);
  }
  .history .select-funds-hi-selection-tile-9DCiFf {
    top: calc(28.44% - 13px);
  }
  .history .ellipse-61-9DCiFf {
    top: 47px;
  }
  .history .choose-the-wall-cy-tile-to-view-9DCiFf {
    top: 33px;
  }
  .history .overlap-group2-0PZcXW {
    margin-top: -16%;
  }
  .history .group-24-BxCq5y {
    top: 21px;
    left: 3px;
  }
  .history .ellipse-58-CX8jfd {
    top: 28px;
  }
  .history .free-text-search-CX8jfd {
    top: 18px;
  }
  .history .image-28-dXBp89 {
    margin-top: -6%;
  }
.segoeui-regular-normal-nero-20px {
  font-size: 8px !important;
} 
.history .date-range-CX8jfd {
  font-size: 8px;
}
.history .free-text-search-CX8jfd {
  font-size: 7px;
}

.history .ellipse-63-PyC6bq {
  top: 27px;
}
.history .select-order-hi-se-the-sub-menu-PyC6bq {
  top: -20px;
}
.history .ellipse-64-PyC6bq {
  top: 46px;
}
.history .choose-the-desi-d-category-type-PyC6bq {
  top: -38px;
}
.history .ellipse-65-PyC6bq {
  top: 64px;
}
.history .wait-for-inform-tion-to-display-PyC6bq {
  top: -61px;
}
.history .order-history-C61RwL {
  margin-right: 62%;
}
.history .line-15-C61RwL {
  margin-top: -51%;
}
.history .view-more-information-on-order-C61RwL {
  margin-right: 27%;
  font-size: 18px !important;
  top: 16px;
}
.history .group-28-RH0WJ5 {
  margin-top: -3%;
  margin-left: 0%;
}
.history .within-the-summ-er-history-view-RH0WJ5 {
  margin-left: 3%;
  margin-top: -1%;
}
.container-center-horizontal {
  height: 2000px;
}
.elip {
  width: 2px !important;
  height: 2px !important;
  left: 10px !important;
}
.history .ellipse-68-PiOlGO {
  top: 20%;
}
.history .ellipse-69-PiOlGO {
  top: 65%;
}
.oswald-light-nero-30px {
  font-size: 23px !important;
}
.history .group-25-0PZcXW {
  height: 96px;
  margin-top: 3%;
}
.history .image-30-C61RwL {
  margin-top: 17%;
}
.history .group-27-C61RwL {
  margin-top: 19%;
}
}


@media (max-width: 300px) {
  .history .grey-back-y1HRxC {
    height: 144%;
  }
  .history .swaps-fx-user-guide-y1HRxC {
    font-size: 15px;
    top: 42px;
  }
  .history .line-1-y1HRxC  {
    top: 63px;
  }
  .history .history-transactions-y1HRxC {
    top: 89%;
  }
  .history .line-8-0xy0vn {
    margin-top: 79px;
  }
  .history .line-14-0xy0vn {
    margin-top: 20%;
  }
  .history .view-more-information-on-order-C61RwL {
    margin-right: 23%;
  }
}
