/* screen - myaccount */

.myaccount {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3000px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.myaccount .black-top-rectangle-4eduM0 {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.myaccount .black-top-rectangle-BJQsbv {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.myaccount .deposit-add-funds-j2aF3b {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.myaccount .ellipse-10-j2aF3b {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.myaccount .ellipse-9-j2aF3b {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.myaccount .everything-you-se-our-services-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 600px;
  font-size: 40px !important;
}
.myaccount .grey-back-4eduM0 {
  background-color: rgba(238,238,238,1.0);
  height: 80%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.myaccount .group-2-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 200px;
  margin-left: 10%;
  margin-top: 69px;
  position: relative;
  width: auto;
}
.myaccount .group-8-zUixHA {
  background-color: transparent;
  bottom: 0px;
  height: 84px;
  left: 51px;
  position: absolute;
  width: 197px;
}
.myaccount .image-12-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  position: relative;
  width: 80%;
}
.myaccount .line-1-4eduM0 {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 104px;
  width: 95%;
}
.myaccount .line-8-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  top: 42px;
  width: 94%;
}
.myaccount .my-account-management-4eduM0 {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.myaccount .one-stop-view-o-nts-by-currency-zUixHA {
  background-color: transparent;
  color: var(--nero);
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  height: 49px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 536px;
}
.myaccount .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.myaccount .swaps-fx-portal-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 45px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 183px;
  white-space: nowrap;
  width: auto;
}
.myaccount .swaps-fx-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.myaccount .swapslogoimage-transparent-4eduM0 {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.myaccount .withdraw-funds-j2aF3b {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 53px);
}
.myaccount .yellow-thin-rectangle-4eduM0 {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.myaccount .yellow-thin-rectangle-BJQsbv {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.myaccount .you-can-manage-s-from-one-page-zUixHA {
  background-color: transparent;
  height: 29px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(35.62% - 10px);
  white-space: nowrap;
  width: calc(100.00% - 21px);
}



@media (min-width: 2000px) {
  .myaccount .grey-back-4eduM0 {
    height: 85%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 31px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 90px;
    line-height: 104px;
    top: 239px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 433px;
  }
  .myaccount .line-8-C61RwL {
    top: 54px !important;
  }
 

}



@media (max-width: 2000px) {
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 70px;
    line-height: 78px;
    top: 190px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 345px;
  }
}



@media (min-width: 1500px) {
  .myaccount .my-account-management-4eduM0 {
    font-size: 71px !important;
  }
  .myaccount .line-8-C61RwL {
    font-size: 44px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 49px;
    top: 60px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 136px;
    font-size: 30px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 25px;
    top: 220px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 70px;
    top: 60px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 193px;
    font-size: 39px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 39px;
    top: 279px;
    height: 123px;
  }
  
}



@media (max-width: 1500px) {
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 60px;
    line-height: 60px;
    top: 190px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 309px;
    font-size: 30px !important;
    width: 500px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 52px;
  }
}



@media (max-width: 1200px) {
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-left: 17%;
    width: 123%;
    margin-top: -16%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 20px;
    top: 57px;
  }
  .myaccount .line-1-4eduM0 {
    top: 85px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 44px;
    line-height: 48px;
    top: 155px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 253px;
    font-size: 28px !important;
    width: 500px;
    line-height: 32px;
  }
  .myaccount .group-8-zUixHA {
    height: 76px;
    font-size: 18px !important;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    font-size: 18px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 32px;
  }
}



@media (max-width: 900px) {
  .myaccount .grey-back-4eduM0 {
    height: 80%;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-left: 6%;
    width: 138%;
    margin-top: -12%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 20px;
    top: 57px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 30px;
    line-height: 30px;
    top: 155px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 218px;
    font-size: 21px !important;
    width: 287px;
    line-height: 28px;
  }
}



@media (max-width: 600px) {
  .myaccount .grey-back-4eduM0 {
    top: 23px;
    height: 91%;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-left: 6%;
    width: 140%;
  }
  .myaccount .line-1-4eduM0 {
    top: 85px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 27px;
    line-height: 30px;
    top: 125px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 179px;
    font-size: 16px !important;
    width: 211px;
    line-height: 18px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 19px;
    margin-top: 0px;
  }
  .myaccount .line-8-C61RwL {
    margin-top: -10px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 24px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    font-size: 15px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 14px !important;
    top: 102px;
  }
}



@media (max-width: 400px) {
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 15px;
    top: 48px;
  }
  .myaccount .line-1-4eduM0 {
    top: 85px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 20px;
    line-height: 21px;
    top: 116px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 157px;
    font-size: 14px !important;
    width: 214px;
    line-height: 14px;
  }
  .myaccount .my-account-management-4eduM0 {
    margin-top: 5px;
  }
  .myaccount .line-8-C61RwL {
    margin-top: -8px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 18px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    font-size: 11px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 10px !important;
    height: 49px;
  }
}



@media (max-width: 300px) {
  .myaccount .grey-back-4eduM0 {
    height: 141%;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-top: -7%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 12px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 17px;
    line-height: 17px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 152px;
    font-size: 11px !important;
    width: 172px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 16px;
    margin-top: 98px;
  }
  .myaccount .line-8-C61RwL {
    margin-top: 81px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 16px;
  }
}
