/* screen - myaccount */

.myaccount {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.container-center-horizontal {
  justify-content: center;
  width: 100%;
  height: 2000px;
}
.myaccount .black-top-rectangle-4eduM0 {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.myaccount .black-top-rectangle-BJQsbv {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.myaccount .deposit-add-funds-j2aF3b {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.myaccount .ellipse-10-j2aF3b {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.myaccount .ellipse-9-j2aF3b {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.myaccount .everything-you-se-our-services-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.myaccount .grey-back-4eduM0 {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.myaccount .group-2-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 200px;
  margin-left: 10%;
  margin-top: 69px;
  position: relative;
  width: auto;
  margin-bottom: 100px;
}
.myaccount .group-8-zUixHA {
  background-color: transparent;
  bottom: 0px;
  height: 84px;
  left: 10px;
  position: absolute;
  width: 197px;
}
.myaccount .image-12-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  position: relative;
  width: 80%;
}
.myaccount .line-1-4eduM0 {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.myaccount .line-8-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.myaccount .my-account-management-4eduM0 {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.myaccount .one-stop-view-o-nts-by-currency-zUixHA {
  background-color: transparent;
  color: var(--nero);
  font-family: 'Oswald', Helvetica;
  font-size: 41px;
  font-style: normal;
  font-weight: bold;
  height: 49px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 536px;
}
.myaccount .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.myaccount .swaps-fx-portal-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.myaccount .swaps-fx-user-guide-4eduM0 {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.myaccount .swapslogoimage-transparent-4eduM0 {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.myaccount .withdraw-funds-j2aF3b {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 53px);
}
.myaccount .yellow-thin-rectangle-4eduM0 {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.myaccount .yellow-thin-rectangle-BJQsbv {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.myaccount .you-can-manage-s-from-one-page-zUixHA {
  background-color: transparent;
  height: 29px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(35.62% - 10px);
  white-space: nowrap;
  width: calc(100.00% - 21px);
}



@media (min-width: 2000px) {
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-top: -22%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 46.5px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 45px !important;
}
  .myaccount .my-account-management-4eduM0 {
    font-size: 125px !important;
  }
  .myaccount .group-8-zUixHA {
    top: 266px !important;
  }
  .container-center-horizontal {
    height: 3200px !important;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 166px !important;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 71px !important;
  }

}



@media (max-width: 2000px) {
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-top: -18%;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .myaccount .my-account-management-4eduM0 {
    top: 135%;
    font-size: 91.5px !important;
  }
  
  .myaccount .line-8-C61RwL {
    margin-top: 15%;
  }
}



@media (min-width: 1500px) {
  .myaccount .grey-back-4eduM0 {
    height: 104%;
  }
  .myaccount .line-1-4eduM0 {
    top: 110px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 82px !important;
    top: 129%;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 58px;
    top: 60px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 154px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 25px;
    top: 220px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 157px;
    font-size: 39px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 39px;
    top: 237px;
    height: 123px;
  }
  .container-center-horizontal {
    height: 2500px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 39px !important;
  }
}



@media (max-width: 1500px) {
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 78px;
    line-height: 71px;
    top: 190px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 68px !important;
  }
  
  .myaccount .line-8-C61RwL {
    margin-top: 17%;
  }
}



@media (max-width: 1200px) {
  .myaccount .grey-back-4eduM0 {
    height: 91%;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 30px;
    top: 57px;
  }
  .myaccount .line-1-4eduM0 {
    top: 85px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 54px !important;
    top: 119%;
  }
  
  .myaccount .line-8-C61RwL {
    margin-top: 15%;
  }
  .myaccount .group-8-zUixHA {
    height: 73px;
    left: 10px;
    top: 117px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    font-size: 23px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 39px;
  }
  .container-center-horizontal {
    height: 2000px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 24px !important;
  }
}



@media (max-width: 900px) {
  .myaccount .grey-back-4eduM0 {
    height: 125%;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .myaccount .line-8-C61RwL {
    margin-top: 29%;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 39px !important;
    margin-top: 15%;
  }
  .container-center-horizontal {
    height: 1500px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 30px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 20px !important;
}
  .myaccount .group-8-zUixHA {
    top: 107px;
  }
}



@media (max-width: 600px) {
  .myaccount .grey-back-4eduM0 {
    top: 23px;
    height: 129%;
  }
  
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 22.5px;
    top: 48px;
  }
  .myaccount .line-1-4eduM0 {
    top: 74px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .myaccount .my-account-management-4eduM0 {
    font-size: 25px !important;
    margin-top: 11%;
  }
  .myaccount .line-8-C61RwL {
    margin-top: 26%;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 22px;
    top: -31px;
}
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: 7px;
    left: -1px;
  }
  .myaccount .group-8-zUixHA {
    top: 43px;
    height: 54px;
    left: 2px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 14px !important;
}

  .myaccount .image-12-C61RwL {
    margin-top: 66px;
  }
  .container-center-horizontal {
    height: 900px;
  }
}



@media (max-width: 400px) {
  
  .myaccount .grey-back-4eduM0 {
    top: 23px;
    height: 147%;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 18px;
    top: 48px;
  }
  .myaccount .line-1-4eduM0 {
    top: 72px;
  }
  .myaccount .swaps-fx-portal-user-guide-4eduM0 {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .myaccount .everything-you-se-our-services-4eduM0 {
    top: 169px;
    font-size: 16.9px !important;
    width: 153px;
    line-height: 14px;
  }
  .myaccount .my-account-management-4eduM0 {
    margin-top: 22%;
    font-size: 23.5px !important;
  }
  .myaccount .line-8-C61RwL {
    margin-top: 39%;
  }
  .myaccount .image-12-C61RwL {
    margin-top: 70px;
  }
  .myaccount .swapslogoimage-transparent-4eduM0 {
    margin-top: -6%;
    width: 1;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 16px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    top: -3px;
  }
  .myaccount .group-8-zUixHA {
    height: 49px;
    top: 23px;
  }
  .segoeui-regular-normal-nero-20px {
    font-size: 12px !important;
}
}



@media (max-width: 300px) {
  .myaccount .grey-back-4eduM0 {
    height: 144%;
  }
  .myaccount .line-8-C61RwL {
    margin-top: 79px;
  }
  .myaccount .one-stop-view-o-nts-by-currency-zUixHA {
    font-size: 11px;
    top: 0px;
  }
  .myaccount .yellow-thin-rectangle-BJQsbv {
    height: 5px;
  }
  .myaccount .yellow-thin-rectangle-4eduM0 {
    height: 5px;
  }
  .myaccount .swaps-fx-user-guide-4eduM0 {
    font-size: 15px;
    top: 42px;
  }
  .myaccount .line-1-4eduM0 {
    top: 63px;
  }
  .myaccount .my-account-management-4eduM0 {
    top: 89%;
  }
  .myaccount .image-12-C61RwL {
    margin-top: 63px;
  }
  .myaccount .group-2-C61RwL {
    margin-top: 12px;
  }
  .myaccount .you-can-manage-s-from-one-page-zUixHA {
    font-size: 8px;
    left: 6px;
    top: 20px;
  }
  .myaccount .group-8-zUixHA {
    font-size: 7px !important;
    height: 43px;
    top: 44px;
    left: 18px;
  }
}
