/* screen - sign-up */

.sign-up {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.sign-up .overlap-group-zHcrMx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.sign-up .account-validation-C61RwL {
  background-color: transparent;
  bottom: 356px;
  color: var(--nero);
  font-family: 'Oswald', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  left: 1px;
  height: 43px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(36.66% - 71px);
  text-align: left;
  white-space: nowrap;
  width: 100%;
  top: 103px;
}
.sign-up .animate-enter {
  animation: animate-enter-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.sign-up .black-top-rectangle-C61RwL {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  width: 100%;
  top: 0px;
}
.sign-up .everything-you-se-our-services-vZhGO4 {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.sign-up .getting-started-C61RwL {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.sign-up .grey-back-C61RwL {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.sign-up .group-1-C61RwL {
  background-color: rgba(22,12,12,1.0);
  bottom: -2px;
  height: 52px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.sign-up .group-30-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-right: 2%;
  margin-left: 9%;
  margin-top: 390px;
  position: relative;
  width: 36%;
}
.sign-up .image-1-C61RwL {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-left: 9%;
  width: 42%;
  top: -168px;
}
.sign-up .image-2-C61RwL {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -118%;
  width: 85%;
  top: -19px;
}
.sign-up .lines {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 11%;
  margin-right: 2%;
  position: relative;
  width: 38%;
}
.sign-up .image-3-C61RwL {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: 2%;
  margin-left: 9%;
  width: 39%;
  margin-bottom: 250px;
  top: -110px;
}
.sign-up .account {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  margin-left: 6%;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  position: relative;
  width: 43%;
}
.sign-up .line-1-C61RwL {
  background-color: transparent;
  height: 2px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.sign-up .line-2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.sign-up .flex-row-xpmbvu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.sign-up .line-3-C61RwL {
  border-left: 2px solid black;
  height: 69%;
  position: absolute;
  left: 50%;
  top: -27%;
}
.sign-up .line-4-C61RwL {
  border-bottom: 2px solid black;
  position: absolute;
  left: 50%;
  top: 42%;
  width: 76%;
}
.sign-up .line-6-C61RwL {
  border-left: 2px solid black;
  height: 235%;
  position: absolute;
  left: 50%;
  top: -161%;
}
.sign-up .line-7-C61RwL {
  border-bottom: 2px solid black;
  position: absolute;
  left: -18%;
  top: 70%;
  width: 68%;
}
.sign-up .polygon-1-C61RwL {
  background-color: transparent;
  bottom: calc(52.95%);
  height: 47px;
  object-fit: cover;
  position: absolute;
  right: calc(-34.67%);
  width: 57px;
  transform: rotateY( 
180deg
);
}
.sign-up .polygon-2-C61RwL {
  background-color: transparent;
  bottom: calc(54.95%);
  height: 47px;
  object-fit: cover;
  position: absolute;
  right: calc(112.33%);
  top: 54%;
  width: 57px;
}
.sign-up .proceed-to-sign-in-VyzZeT {
  background-color: transparent;
  color: rgba(252,251,251,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% - 3px);
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  right: calc(46.96% - 109px);
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  top: 0px;
  white-space: nowrap;
  width: 233px;
}
.sign-up .scroll-group-1-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 62px;
  justify-content: flex-end;
  left: 128px;
  min-width: 357px;
  mix-blend-mode: normal;
  overflow: scroll;
  position: absolute;
  top: 306px;
  width: auto;
}
.sign-up .scroll-group-1-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}
.sign-up .scroll-group-2-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 140px;
  justify-content: flex-end;
  left: 108px;
  min-width: 266px;
  mix-blend-mode: normal;
  overflow: scroll;
  padding: 11px 28px;
  position: absolute;
  top: 166px;
  width: auto;
}
.sign-up .scroll-group-2-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}
.sign-up .sign-up-xxkKyh {
  background-color: transparent;
  color: var(--nero);
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  height: 49px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: -200px;
  white-space: nowrap;
  width: 95px;
}
.sign-up .span0-oh4sro {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
}
.sign-up .span1-oh4sro {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Bold', Helvetica;
  font-style: normal;
  font-weight: 700;
}
.sign-up .span2-oh4sro {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
}
.sign-up .swaps-fx-portal-user-guide-ROslHN {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.sign-up .swaps-fx-user-guide-C61RwL {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.sign-up .swapslogoimage-transparent-C61RwL {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
  background-color: transparent;
  bottom: 234px;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 119px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  width: 100%;
  top: 141px;
}
.sign-up .x1-click-on-the-sign-up-button-xxkKyh {
  background-color: transparent;
  bottom: 3px;
  color: var(--nero);
  font-family: "Segoe UI", Helvetica;
  font-size: 16px;
  height: 149px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -121px;
  width: calc(100.00% + 2px);
}
.sign-up .yellow-thin-rectangle-C61RwL {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.sign-up .you-can-easily-following-steps-xxkKyh {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -153px;
  width: 108%;
}
@keyframes animate-enter-frames {

from{opacity: 0;}
to{opacity: 1;}
}




@media (min-width: 2000px) {
  .sign-up .swapslogoimage-transparent-C61RwL {
    margin-top: -22%;
  }
  .sign-up .swaps-fx-user-guide-C61RwL {
    font-size: 46.5px;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 125px !important;
  }
  .sign-up .image-1-C61RwL {
    top: -20% !important;
  }
  .sign-up .group-30-C61RwL {
    margin-left: 5% !important;
    width: 41% !important;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 49px !important;
    margin-left: -1% !important;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 26px !important;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 24px !important;
    top: -108px !important;
    line-height: 37px !important;
  }
  .sign-up .line-3-C61RwL {
    height: 42%;
    top: 0%;
  }
  .sign-up .line-4-C61RwL {
    width: 80%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(54.95%);
  }
  .sign-up .account-validation-C61RwL {
    font-size: 46px;
    top: 144px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 31px !important;
    line-height: 52px !important;
    top: 181px !important;
  }
}



@media (max-width: 2000px) {
  .sign-up .swapslogoimage-transparent-C61RwL {
    margin-top: -18%;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .sign-up .getting-started-C61RwL {
    top: 135%;
    font-size: 91.5px;
  }
  .sign-up .line-2-C61RwL {
    margin-top: 15%;
  }
  .sign-up .line-3-C61RwL {
    height: 57%;
    top: -15%;
  }
  .sign-up .polygon-1-C61RwL {
     bottom: calc(53.95%);
  }
}




@media (min-width: 1500px) {
  .sign-up .grey-back-C61RwL {
    height: 104%;
  }
  .sign-up .line-1-C61RwL {
    top: 110px;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 82px !important;
    top: 129%;
  }
  
  .sign-up .image-1-C61RwL {
    top: -126px;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 48px;
    margin-left: -2%;
    top: -224px;
  }
  .sign-up .group-30-C61RwL {
    margin-left: 3%;
    width: 44%;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 25px;

  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 20px;
    top: -114px;
    line-height: 34px;
  }
  .sign-up .polygon-1-C61RwL {
    right: calc(-34.67%);
  }
  .sign-up .line-7-C61RwL {
    left: -15%;
    width: 65%;
  }
  .sign-up .account-validation-C61RwL {
    font-size: 41px;
    left: -36px;
    top: 119px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 25px;
    line-height: 49px;
    top: 174px;
    left: -53px;
  }
}




@media (max-width: 1500px) {
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 78px;
    line-height: 71px;
    top: 190px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 68px !important;
  }
  
  .sign-up .line-2-C61RwL {
    margin-top: 17%;
  }
  .sign-up .group-30-C61RwL {
    margin-left: 5%;
    width: 41%;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 17px;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 15px;
  }
}





@media (max-width: 1200px) {
  .sign-up .grey-back-C61RwL {
    height: 91%;
  }
  .sign-up .swapslogoimage-transparent-C61RwL {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .sign-up .swaps-fx-user-guide-C61RwL {
    font-size: 30px;
    top: 57px;
  }
  .sign-up .line-1-C61RwL {
    top: 85px;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 54px !important;
    top: 119%;
  }
  
  .sign-up .line-2-C61RwL {
    margin-top: 15%;
  }
  .sign-up .image-1-C61RwL {
    top: -265px;
  }
  .sign-up .group-30-C61RwL {
    width: 38%;
    margin-left: 4%;
    width: 43%;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 24px;
    top: -217px;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 15px;
    top: -177px;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 11px;
    line-height: 17px;
    top: -148px;
  }
  .sign-up .line-3-C61RwL {
    height: 53%;
    top: -55%;
  }
  .sign-up .line-4-C61RwL {
    top: -2%;
    width: 78%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(94.99%);
  }
  .sign-up .image-2-C61RwL {
    top: -185px;
  }
  .sign-up .image-3-C61RwL {
    top: -291px;
    margin-bottom: 0px;
  }
  .sign-up .account-validation-C61RwL {
    top: -170px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 15px;
    top: -136px;
  }
  .sign-up .account {
    margin-left: 3%;
    margin-bottom: 0px;
  }
  .sign-up .line-6-C61RwL {
    height: 176%;
    left: 60%;
    top: -326%;
  }
  .sign-up .line-7-C61RwL {
    left: -7%;
    top: -150%;
    width: 68%;
  }
  .sign-up .polygon-2-C61RwL {
    top: -164%;
    right: calc(100.33%);
    bottom: calc(54.95%);
  }
}



@media (max-width: 900px) {
  .sign-up .grey-back-C61RwL {
    height: 125%;
  }
  .sign-up .swapslogoimage-transparent-C61RwL {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 39px !important;
    margin-top: 15%;
  }
  .sign-up .line-2-C61RwL {
    margin-top: 29%;
  }
  .sign-up .image-1-C61RwL {
    width: 70%;
    top: 53px;
    margin-left: auto;
    margin-right: auto;
  }
  .sign-up .group-30-C61RwL {
    width: 80%;
    margin-right: auto;
    margin-left: 19%;
    margin-top: 302px;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 29px;
    top: -220px;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 18px;
    top: -165px;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 13px;
    line-height: 26px;
    top: -128px;
  }
  .sign-up .line-3-C61RwL {
    height: 48%;
    top: -37%;
    left: 32%;
  }
  .sign-up .line-4-C61RwL {
    top: 10%;
    width: 57%;
    left: 31%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(82.99%);
    right: calc(-3.67%);
  }
  .sign-up .image-2-C61RwL {
    top: -123px;
    width: 121%;
  }
  .sign-up .account-validation-C61RwL {
    top: -218px;
    left: 165px;
    font-size: 25px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 15px;
    top: -171px;
    line-height: 34px;
    left: 164px;
    width: 151%;
  }
  .sign-up .line-6-C61RwL {
    height: 142%;
    left: 167%;
    top: -478%;
  }
  .sign-up .line-7-C61RwL {
    left: 133%;
    top: -339%;
    width: 35%;
  }
  .sign-up .polygon-2-C61RwL {
    top: -351%;
    right: calc(-38.67%);
    bottom: calc(54.95%);
    height: 30px;
    width: 47px;
  }
  .sign-up .account-validation-C61RwL {
    top: -218px;
    left: 165px;
    font-size: 25px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 15px;
    top: -171px;
    line-height: 34px;
    left: 164px;
    width: 151%;
  }
  .sign-up .image-3-C61RwL {
    width: 48%;
  }
}



@media (max-width: 600px) {
  .sign-up .black-top-rectangle-C61RwL {
    height: 14px;
  }
  .sign-up .yellow-thin-rectangle-C61RwL {
    height: 5px;
    top: 15px;
  }
  .sign-up .grey-back-C61RwL {
    top: 23px;
    height: 129%;
  }
  .sign-up .swaps-fx-user-guide-C61RwL {
    font-size: 22.5px;
    top: 48px;
  }
  .sign-up .line-1-C61RwL {
    top: 74px;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .sign-up .getting-started-C61RwL {
    font-size: 25px;
    margin-top: 11%;
  }
  .sign-up .line-2-C61RwL {
    margin-top: 26%;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 23px;
    top: -236px;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 12px;
    top: -197px;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 9px;
    line-height: 17px;
    top: -173px;
  }
  .sign-up .line-3-C61RwL {
    height: 26%;
    top: -81%;
    left: 32%;
  }
  .sign-up .line-4-C61RwL {
    top: -55%;
    width: 55%;
    left: 32%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(148.99%);
    right: calc(3.33%);
    width: 27px;
    height: 27px;
  }
  .sign-up .image-2-C61RwL {
    top: -259px;
    width: 117%;
  }
  .sign-up .image-3-C61RwL {
    width: 46%;
    top: -400px;
  }
  .sign-up .account-validation-C61RwL {
    top: -361px;
    left: 102px;
    font-size: 22px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 12px;
    top: -318px;
    line-height: 25px;
    left: 101px;
    width: 151%;
  }
  .sign-up .line-6-C61RwL {
    height: 89%;
    left: 167%;
    top: -512%;
  }
  .sign-up .line-7-C61RwL {
    left: 133%;
    top: -425%;
    width: 35%;
  }
  .sign-up .polygon-2-C61RwL {
    top: -434%;
    right: calc(-38.67%);
    bottom: calc(54.95%);
    height: 27px;
    width: 27px;
  }
  .sign-up .account {
    margin-bottom: -250px;
  }
  .sign-up .proceed-to-sign-in-VyzZeT {
    font-size: 27px;
  }
}



@media (max-width: 400px) {
  .sign-up .grey-back-C61RwL {
    top: 23px;
    height: 147%;
  }
  .sign-up .swapslogoimage-transparent-C61RwL {
    margin-top: -6%;
    width: 1;
  }
  .sign-up .swaps-fx-user-guide-C61RwL {
    font-size: 18px;
    top: 48px;
  }
  .sign-up .line-1-C61RwL {
    top: 72px;
  }
  .sign-up .swaps-fx-portal-user-guide-ROslHN {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .sign-up .everything-you-se-our-services-vZhGO4 {
    top: 169px;
    font-size: 16.9px !important;
    width: 153px;
    line-height: 14px;
  }
  .sign-up .getting-started-C61RwL {
    margin-top: 22%;
    font-size: 23.5px !important;
  }
  .sign-up .line-2-C61RwL {
    margin-top: 39%;
  }
  .sign-up .sign-up-xxkKyh {
    font-size: 16px;
    top: -243px;
  }
  .sign-up .you-can-easily-following-steps-xxkKyh {
    font-size: 8px;
    top: -215px;
  }
  .sign-up .x1-click-on-the-sign-up-button-xxkKyh {
    font-size: 6px;
    line-height: 11px;
    top: -192px;
  }
  .sign-up .line-3-C61RwL {
    height: 26%;
    top: -152%;
    left: 36%;
  }
  .sign-up .line-4-C61RwL {
    top: -126%;
    width: 51%;
    left: 36%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(217.99%);
    right: calc(3.33%);
    width: 27px;
    height: 27px;
  }
  .sign-up .image-2-C61RwL {
    top: -321px;
    width: 117%;
  }
  .sign-up .image-3-C61RwL {
    top: -482px;
  }
  .sign-up .account-validation-C61RwL {
    top: -468px;
    left: 56px;
    font-size: 15px;
  }
  .sign-up .x1-a-one-time-to-ocess-completed-C61RwL {
    font-size: 7px;
    top: -433px;
    line-height: 14px;
    left: 60px;
  }
  .sign-up .line-6-C61RwL {
    height: 79%;
    left: 167%;
    top: -531%;
  }
  .sign-up .line-7-C61RwL {
    left: 133%;
    top: -454%;
    width: 35%;
  }
  .sign-up .polygon-2-C61RwL {
    top: -462%;
    bottom: calc(54.95%);
  }
  .sign-up .group-1-C61RwL {
    top: 928px;
  }
  .sign-up {
    height: 1230px;
  }
}



@media (max-width: 300px) {
  .sign-up .grey-back-C61RwL {
    height: 144%;
  }
  .sign-up .swaps-fx-user-guide-C61RwL {
    font-size: 15px;
    top: 42px;
  }
  .sign-up .line-1-C61RwL {
    top: 63px;
  }
  .sign-up .getting-started-C61RwL {
    top: 89%;
  }
  .sign-up .line-2-C61RwL {
    margin-top: 79px;
  }
  .sign-up .line-3-C61RwL {
    top: -205%;
    height: 37%;
  }
  .sign-up .line-4-C61RwL {
    top: -168%;
  }
  .sign-up .polygon-1-C61RwL {
    bottom: calc(256.99%);
  }
  .sign-up .line-6-C61RwL {
    height: 62%;
    top: -515%;
  }
}
