/* screen - sign-in */

.sign-in {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.sign-in .black-top-rectangle-pqRchW {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sign-in .black-top-rectangle-y1HRxC {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sign-in .everything-you-se-our-services-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.sign-in .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: -554px;
  margin-top: -304px;
  min-height: 854px;
  position: relative;
  width: 2288px;
}
.sign-in .flex-col-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -364px;
}
.sign-in .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.sign-in .grey-back-y1HRxC {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.sign-in .image-4-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 40%;
}
.sign-in .line-1-y1HRxC {
  background-color: transparent;
  height: 2px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.sign-in .line-5-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.sign-in .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.sign-in .sign-in-y1HRxC {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.sign-in .span0-3ir6LG {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
}
.sign-in .span1-3ir6LG {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Bold', Helvetica;
  font-style: normal;
  font-weight: 700;
}
.sign-in .span2-3ir6LG {
  color: rgba(12,4,4,1.0);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
}
.sign-in .swaps-fx-portal-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.sign-in .swaps-fx-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.sign-in .swapslogoimage-transparent-y1HRxC {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: "Segoe UI", Helvetica;
  font-size: 21px;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 36px;
  margin-top: 13px;
  position: relative;
  text-align: left;
  width: 80%;
}
.sign-in .yellow-thin-rectangle-pqRchW {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.sign-in .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.sign-in .your-privacy-is-in-information-0PZcXW {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: relative;
  text-align: left;
  width: 67%;
}




@media (min-width: 2000px) {
  .sign-in .swapslogoimage-transparent-y1HRxC {
    margin-top: -22%;
  }
  .sign-in .swaps-fx-user-guide-y1HRxC {
    font-size: 46.5px;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .sign-in .flex-col-dXBp89 {
    top: -518px !important;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 125px !important;
  }
  .sign-in .your-privacy-is-in-information-0PZcXW {
    font-size: 33px !important;
    line-height: 39px !important;
  }
  .sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
    font-size: 29px !important;
    line-height: 47px !important;
    margin-top: 14px;
  }
}



@media (max-width: 2000px) {
  .sign-in .swapslogoimage-transparent-y1HRxC {
    margin-top: -18%;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .sign-in .sign-in-y1HRxC {
    top: 135%;
    font-size: 91.5px;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 15%;
  }
}



@media (max-width: 1500px) {
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 78px;
    line-height: 71px;
    top: 190px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 68px !important;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 17%;
  }
}



@media (min-width: 1500px) {
  .sign-in .grey-back-y1HRxC {
    height: 104%;
  }
  .sign-in .line-1-y1HRxC {
    top: 110px;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 82px !important;
    top: 129%;
  }
  .sign-in .flex-col-dXBp89 {
    top: -442px;
  }
  .sign-in .your-privacy-is-in-information-0PZcXW {
    font-size: 28px;
    line-height: 31px;
  }
  .sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
    font-size: 26px;
    line-height: 42px;
  }
}



@media (max-width: 1200px) {
  .sign-in .grey-back-y1HRxC {
    height: 91%;
  }
  .sign-in .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .sign-in .swaps-fx-user-guide-y1HRxC {
    font-size: 30px;
    top: 57px;
  }
  .sign-in .line-1-y1HRxC {
    top: 85px;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 54px !important;
    top: 119%;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 15%;
  }
  .sign-in .your-privacy-is-in-information-0PZcXW {
    font-size: 21px;
  }
  .sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
    font-size: 19px;
  }
}



@media (max-width: 900px) {
  
  .sign-in .grey-back-y1HRxC {
    height: 125%;
  }
  .sign-in .swapslogoimage-transparent-y1HRxC {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 39px !important;
    margin-top: 15%; 
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 29%;
  }
  .sign-in .flex-col-dXBp89 {
    margin-right: 5%;
    margin-left: 16%;
    width: 100%;
    top: 102px;
  }
  .sign-in .your-privacy-is-in-information-0PZcXW {
    font-size: 20px;
    width: 100%;
  }
  .sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
    font-size: 18px;
    line-height: 30px;
  }
  .sign-in .image-4-dXBp89 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 228px;
    width: 57%;
  }

}



@media (max-width: 600px) {
  
  .sign-in .grey-back-y1HRxC {
    top: 23px;
    height: 129%;
  }
  .sign-in .swaps-fx-user-guide-y1HRxC {
    font-size: 22.5px;
    top: 48px;
  }
  .sign-in .yellow-thin-rectangle-pqRchW,
  .sign-in .yellow-thin-rectangle-y1HRxC {
    height: 5px;
  }
  .sign-in .line-1-y1HRxC {
    top: 74px;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .sign-in .sign-in-y1HRxC {
    font-size: 25px;
    margin-top: 11%;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 26%;
  }
  .sign-in .image-4-dXBp89 {
    margin-top: 139px;
  }
  .sign-in .flex-col-dXBp89 {
    top: 76px;
  }
  .sign-in .image-4-dXBp89 {
    width: 76%;
  }
}



@media(max-width: 400px) {
  
  .sign-in .grey-back-y1HRxC {
    top: 23px;
    height: 147%;
  }
  .sign-in .swapslogoimage-transparent-y1HRxC {
    margin-top: -6%;
    width: 1
  }
  .sign-in .swaps-fx-user-guide-y1HRxC {
    font-size: 18px;
    top: 48px;
  }
  .sign-in .line-1-y1HRxC {
    top: 72px;
  }
  .sign-in .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .sign-in .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 16.9px !important;
    width: 153px;
    line-height: 14px;
  }
  .sign-in .sign-in-y1HRxC {
    margin-top: 22%;
    font-size: 23.5px !important;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 39%;
  }
  .sign-in .your-privacy-is-in-information-0PZcXW {
    font-size: 15px;
  }
  .sign-in .x1-enter-your-em-sign-in-button-0PZcXW {
    font-size: 16px;
  }
}




@media (max-width: 300px) {
  
  .sign-in .grey-back-y1HRxC {
    height: 144%;
  }
  .sign-in .swaps-fx-user-guide-y1HRxC {
    font-size: 15px;
    top: 42px;
  }
  .sign-in .line-1-y1HRxC {
    top: 63px;
  }
  .sign-in .sign-in-y1HRxC {
    top: 89%;
  }
  .sign-in .line-5-0xy0vn {
    margin-top: 79px;
  }
}



