/* screen - userdocumentupload */

.userdocumentupload {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.userdocumentupload .black-top-rectangle-pqRchW {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userdocumentupload .black-top-rectangle-y1HRxC {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userdocumentupload .click-delete-ic-ve-the-document-2eLxbt {
  background-color: transparent;
  bottom: calc(42.02% - 12px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 266px);
}
.userdocumentupload .click-on-docume-to-open-section-2eLxbt {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(26.89% - 8px);
  white-space: nowrap;
  width: 435px;
}
.userdocumentupload .click-on-docume-to-open-section-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(35.89% - 8px);
  white-space: nowrap;
  width: 435px;
}
.userdocumentupload .click-the-wheel-ilable-settings-2eLxbt {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userdocumentupload .click-the-wheel-ilable-settings-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% - 14px);
}
.userdocumentupload .ellipse-44-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userdocumentupload .ellipse-44-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userdocumentupload .ellipse-45-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(32.39% - 2px);
  width: 6px;
}
.userdocumentupload .ellipse-45-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(39.39% - 2px);
  width: 6px;
}
.userdocumentupload .ellipse-46-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(41.55% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .ellipse-46-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(41.55% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
  top: 159px;
}
.userdocumentupload .ellipse-47-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 22px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .ellipse-47-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 22px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .everything-you-se-our-services-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.userdocumentupload .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  top: 0px;
  width: 100%;
}
.userdocumentupload .flex-col-Xi618D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 16%;
  position: relative;
  width: 38%;
}
.userdocumentupload .words {
  align-self: flex-start;
    background-color: transparent;
    flex-shrink: 1;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
    object-fit: cover;
    position: relative;
    width: 68%;
}
.container-center-horizontal {
  height: 2000px;
}
.userdocumentupload .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userdocumentupload .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userdocumentupload .grey-back-y1HRxC {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.userdocumentupload .group-19-y0eQTV {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 259px;
  margin-top: 38px;
  position: relative;
  width: 100%;
  font-size: 23px;
}
.userdocumentupload .group-23-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 182px;
  margin-left: 0%;
  margin-top: 5%;
  position: relative;
  width: 80%;
  font-size: 24px;
}
.userdocumentupload .image-26-0PZcXW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 45%;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 9%;
}
.userdocumentupload .line-1-y1HRxC {
  background-color: transparent;
  height: 2px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.userdocumentupload .line-8-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.userdocumentupload .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.userdocumentupload .remove-update-documents-0PZcXW {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 6%;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .select-the-document-type-TwzCqN {
  background-color: transparent;
  bottom: calc(42.02% - 12px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 266px);
  top: 145px;
}
.userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .swaps-fx-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .swapslogoimage-transparent-y1HRxC {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.userdocumentupload .upload-or-drag-nd-save-changes-2eLxbt {
  background-color: transparent;
  bottom: 3px;
  height: 39px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 90%;
}
.userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
  background-color: transparent;
  bottom: 3px;
  height: 39px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 515px;
}
.userdocumentupload .upload-required-documents-y0eQTV {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  margin-left: 1%;
  width: auto;
}
.userdocumentupload .user-documents-y1HRxC {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.userdocumentupload .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}


@media (min-width: 2000px) {
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 46.5px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 125px !important;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -22%;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 68px !important;
  }
  .userdocumentupload .group-19-y0eQTV {
    height: 291px !important;
    margin-top: 82px;
  }
  .userdocumentupload .select-the-document-type-TwzCqN {
    top: 176px;
  }
  .userdocumentupload .ellipse-46-TwzCqN {
    top: 192px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 38px !important;
  }
  .userdocumentupload .group-23-C61RwL {
    height: 258px !important;
  }
  .container-center-horizontal {
    height: 3000px;
  }
  .userdocumentupload .click-the-wheel-ilable-settings-TwzCqN,
  .userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
    line-height: 39px;
  }
}


@media (max-width: 2000px) {
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .userdocumentupload .user-documents-y1HRxC {
    top: 135%;
    font-size: 91.5px;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -18%;
  }
  
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 15%;
  }
  .container-center-horizontal {
    height: 2500px;
  }
}


@media (min-width: 1500px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 104%;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 110px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 82px !important;
    top: 129%;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW
   {
    font-size: 50px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 27px;
  }
  .userdocumentupload .group-23-C61RwL {
    height: 199px;
  }
}


@media (max-width: 1500px) {
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 78px;
    line-height: 71px;
    top: 190px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 68px !important;
  }
  
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 17%;
  } 
  .container-center-horizontal {
    height: 2000px;
  }
}



@media (max-width: 1200px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 91%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 30px;
    top: 57px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 85px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 54px !important;
    top: 119%;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 15%;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    height: 175px;
    font-size: 17px;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 36px;
  }
  .container-center-horizontal {
    height: 1700px;
  }
  .userdocumentupload .ellipse-45-TwzCqN {
    top: calc(63.39% - 2px);
  }
  .userdocumentupload .click-on-docume-to-open-section-TwzCqN {
    top: calc(58.89% - 8px);
  }
  .userdocumentupload .ellipse-46-TwzCqN {
    top: 146px;
  }
  .userdocumentupload .select-the-document-type-TwzCqN {
    top: 131px;
  }
  .userdocumentupload .ellipse-47-TwzCqN {
    top: 189px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
    top: 174px;
    width: 90%;
  }

}


@media(max-width: 900px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 125%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-left: 29%;
    width: 104%;
    margin-top:-11%;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 41px;
    line-height: 51px;
    top: 155px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
  }
  .userdocumentupload .user-documents-y1HRxC  {
    font-size: 39px !important;
    margin-top: 15%;
  }
  .userdocumentupload .line-8-0xy0vn  {
    margin-top: 29%;
  }
  .userdocumentupload .flex-row-C61RwL {
    flex-direction: column;
  }
 
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 45px;
  }
  .userdocumentupload .flex-col-dXBp89 {
    flex-direction: column;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-left: auto;
    margin-right: auto;
    width: 47%;
  }
  .userdocumentupload .flex-col-Xi618D {
    margin-left: 19%;
    margin-top: 11%;
    width: 70%;
  }
  .userdocumentupload .group-19-y0eQTV {
    height: 161px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 21px;
    margin-left: 1%;
    margin-right: auto;
    width: 90%;
  }
  .container-center-horizontal {
    height: 2000px;
  }
  .userdocumentupload .words {
    margin-left: 20%;
    margin-top: 19%;
  }
  .userdocumentupload .click-the-wheel-ilable-settings-2eLxbt {
    white-space: normal;
  }
  .userdocumentupload .click-on-docume-to-open-section-2eLxbt {
    top: calc(37.89% - 8px);
  }
  .userdocumentupload .ellipse-47-2eLxbt {
    top: 214px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-2eLxbt {
    top: 199px;
  }
  .userdocumentupload .ellipse-45-2eLxbt {
    top: calc(40.39% - 2px);
  }
  .userdocumentupload .group-23-C61RwL {
    height: 292px;
    margin-top: 8%;
  }
}


@media (max-width: 600px) {
  .userdocumentupload .grey-back-y1HRxC {
    top: 23px;
    height: 129%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 22.5px;
    top: 48px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 74px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 25px;
    margin-top: 11%;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 26%;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 26px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 13px;
    height: 100px;
    margin-top: 6%;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-top: 16%;
  }
  .container-center-horizontal {
    height: 1500px;
  }
  .userdocumentupload .ellipse-45-TwzCqN {
    top: calc(95.39% - 2px);
  }
  .userdocumentupload .click-on-docume-to-open-section-TwzCqN {
    top: calc(87.89% - 8px);
  }
  .userdocumentupload .ellipse-46-TwzCqN {
    top: 125px;
  }
  .userdocumentupload .select-the-document-type-TwzCqN {
    top: 112px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
    top: 143px;
  }
  .userdocumentupload .ellipse-47-TwzCqN {
    top: 159px;
  }
  .userdocumentupload .words {
    margin-top: 37%;
  }
  .userdocumentupload .ellipse-45-2eLxbt {
    top: calc(84.39% - 2px);
  }
  .userdocumentupload .click-on-docume-to-open-section-2eLxbt {
    top: calc(75.89% - 8px);
  }
  .userdocumentupload .ellipse-46-2eLxbt {
    top: 111px;
  }
  .userdocumentupload .click-delete-ic-ve-the-document-2eLxbt {
    top: 97px;
  }
  .userdocumentupload .ellipse-47-2eLxbt {
    top: 145px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-2eLxbt {
    top: 132px;
  }
}



@media (max-width: 400px) {
  .userdocumentupload .grey-back-y1HRxC  {
    top: 23px;
    height: 147%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -6%;
    width: 1;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 18px;
    top: 48px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 72px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 16.5px !important;
    width: 153px;
    line-height: 14px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    margin-top: 22%;
    font-size: 23.5px !important;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 39%;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 19px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 9px;
    height: 73px;
    margin-top: 12px;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-top: 20%;
  }
  .container-center-horizontal {
    height: 1200px;
  }
  .userdocumentupload .words {
    margin-top: 44%;
  }
  .userdocumentupload .ellipse-46-2eLxbt {
    top: 88px;
  }
  .userdocumentupload .click-delete-ic-ve-the-document-2eLxbt {
    top: 75px;
  }
  .userdocumentupload .ellipse-47-2eLxbt {
    top: 116px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-2eLxbt {
    top: 103px;
  }
  .userdocumentupload .ellipse-46-TwzCqN {
    top: 100px;
  }
  .userdocumentupload .select-the-document-type-TwzCqN {
    top: 87px;
  }
  .userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
    top: 117px;
  }
  .userdocumentupload .ellipse-47-TwzCqN {
    top: 131px;
  }
  .userdocumentupload .click-the-wheel-ilable-settings-TwzCqN,
  .userdocumentupload .click-the-wheel-ilable-settings-2eLxbt {
    line-height: 20px;
  }
}



@media (max-width: 300px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 144%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 15px;
    top: 42px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 63px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    top: 89%;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 79px;
  }
  .container-center-horizontal {
    height: 1000px;
  }
}
