/* screen - userprofilemanagement */

.userprofilemanagement {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.userprofilemanagement .advanced-profile-management-O8Us0i {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 35px;
  min-height: 49px;
  position: relative;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .black-top-rectangle-3XVj4X {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userprofilemanagement .black-top-rectangle-O40pOL {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userprofilemanagement .check-your-preferred-option-aax5kZ {
  background-color: transparent;
  bottom: calc(36.70% - 11px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 258px;
}
.userprofilemanagement .click-on-delete-account-wqPdGv {
  background-color: transparent;
  bottom: calc(22.29% - 7px);
  height: 30px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 264px;
}
.userprofilemanagement .click-on-passwo-manage-password-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(29.36% - 9px);
  white-space: nowrap;
  width: 366px;
}
.userprofilemanagement .click-on-profil-view-my-details-i2e62Q {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(29.36% - 9px);
  white-space: nowrap;
  width: 317px;
}
.userprofilemanagement .click-on-profile-6A2EKN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(35.23% - 10px);
  white-space: nowrap;
  width: 150px;
}
.userprofilemanagement .click-on-profile-wqPdGv {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(35.23% - 10px);
  white-space: nowrap;
  width: 150px;
}
.userprofilemanagement .click-on-request-data-6A2EKN {
  background-color: transparent;
  bottom: calc(22.73% - 7px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 211px;
}
.userprofilemanagement .click-save-chan-change-was-made-TwzCqN {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 367px;
}
.userprofilemanagement .click-save-chan-change-was-made-i2e62Q {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 367px;
}
.userprofilemanagement .click-settings-aax5kZ {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(29.36% - 9px);
  white-space: nowrap;
  width: 136px;
}
.userprofilemanagement .click-the-wheel-ilable-settings-6A2EKN {
  background-color: transparent;
  height: 59px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% - 14px);
}
.userprofilemanagement .click-the-wheel-ilable-settings-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userprofilemanagement .click-the-wheel-ilable-settings-i2e62Q {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userprofilemanagement .click-the-wheel-ilable-settings-wqPdGv {
  background-color: transparent;
  height: 59px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% - 14px);
}
.userprofilemanagement .click-the-wheel-r-of-the-portal-aax5kZ {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userprofilemanagement .confirm-accept-notice-6A2EKN {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 209px;
}
.userprofilemanagement .confirm-accept-notice-wqPdGv {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 209px;
}
.userprofilemanagement .delete-account-PNnH4c {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  margin-left: -16%;
  width: auto;
}
.userprofilemanagement .ellipse-40-i2e62Q {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userprofilemanagement .ellipse-41-i2e62Q {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(34.85% - 2px);
  width: 6px;
}
.userprofilemanagement .ellipse-42-i2e62Q {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(37.12% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-43-i2e62Q {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-44-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userprofilemanagement .ellipse-45-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(34.85% - 2px);
  width: 6px;
}
.userprofilemanagement .ellipse-46-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(37.12% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-47-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-48-aax5kZ {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userprofilemanagement .ellipse-49-aax5kZ {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(34.85% - 2px);
  width: 6px;
}
.userprofilemanagement .ellipse-50-aax5kZ {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(37.12% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-51-aax5kZ {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-52-6A2EKN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userprofilemanagement .ellipse-52-wqPdGv {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userprofilemanagement .ellipse-53-6A2EKN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(38.19% - 2px);
  width: 6px;
}
.userprofilemanagement .ellipse-53-wqPdGv {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(38.19% - 2px);
  width: 6px;
}
.userprofilemanagement .ellipse-54-6A2EKN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(43.22% - 3px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-54-wqPdGv {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(43.22% - 3px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-55-6A2EKN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(24.62% - 1px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-55-wqPdGv {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(24.62% - 1px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-56-6A2EKN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .ellipse-56-wqPdGv {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userprofilemanagement .everything-you-se-our-services-O40pOL {
  background-color: transparent;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.userprofilemanagement .flex-col-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-col-3elYpP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 45%;
  margin-left: 9%;
  margin-right: auto;
  margin-top: 7%;
}
.userprofilemanagement .flex-col-APIgQa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-top: 7%;
}
.userprofilemanagement .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  top: 0px;
  width: 100%;
}
.userprofilemanagement .flex-col-GyJUNH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 45%;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 13%;
}
.userprofilemanagement .flex-col-NvvWoh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 8%;
  position: relative;
  width: 40%;
}
.userprofilemanagement .flex-col-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-col-Xi618D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
 .userprofilemanagement .settings_words {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 45%;
  margin-left: 9%;
  margin-right: auto;
  margin-top: 7%;
 }
.userprofilemanagement .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-col-lcFreP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-row-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-row-APIgQa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userprofilemanagement .flex-row-lcFreP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 10%;
}
.userprofilemanagement .flex-row-mu6cJe {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 70%;
  margin-left: 8%;
}
.userprofilemanagement .grey-back-O40pOL {
  background-color: rgba(238,238,238,1.0);
  height: 80%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.userprofilemanagement .group-18-3xHcwy {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 138px;
  margin-top: 2%;
  position: relative;
  font-size: 13px;
  width: 95%;
}
.userprofilemanagement .group-19-y0eQTV {
  font-size: 14px;
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 138px;
  margin-top: 8%;
  position: relative;
  margin-right: 11%;
  width: 90%;

}
.userprofilemanagement .group-20-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 138px;
  margin-right: 7px;
  margin-top: 14px;
  position: relative;
  width: 519px;
}
.userprofilemanagement .group-21-3TWxOt {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 205px;
  margin-top: 4%;
  position: relative;
  width: 90%;
  margin-right: 9%;
}
.userprofilemanagement .group-22-PNnH4c {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 205px;
  margin-top: 4%;
  position: relative;
  margin-right: 25%;
  width: 90%;
}
.userprofilemanagement .image-20-GyJUNH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 8%;
  position: relative;
  width: 38%;
}
.userprofilemanagement .image-21-0PZcXW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 38%;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 13%;
}
.userprofilemanagement .manage_words {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -6%;
  margin-right: auto;
  margin-top: 19%;
  position: relative;
  width: 38%;
}
.userprofilemanagement .image-22-y0eQTV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 14%;
  position: relative;
  width: 42%;
}
.userprofilemanagement .image-23-O8Us0i {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  margin-left: 2%;
  object-fit: cover;
  position: relative;
  width: 57%;
}
.userprofilemanagement .image-24-3elYpP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 8%;
  position: relative;
  width: 40%;
}
.userprofilemanagement .image-25-NvvWoh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 41%;
  margin-left: 9%;
  margin-right: 12%;
  margin-top: 7%;
}
.userprofilemanagement .line-1-O40pOL {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 104px;
  width: 95%;
}
.userprofilemanagement .line-12-mu6cJe {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 1%;
  object-fit: cover;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.userprofilemanagement .line-13-APIgQa {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7%;
  object-fit: cover;
  position: relative;
  width: 60%;
}
.userprofilemanagement .line-8-xpmbvu {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  top: 42px;
  width: 94%;
}
.userprofilemanagement .manage-password-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 1%;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .overlap-group-xpmbvu {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.userprofilemanagement .provide-the-nee-o-make-a-change-TwzCqN {
  background-color: transparent;
  bottom: calc(36.70% - 11px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 266px);
}
.userprofilemanagement .request-data-3TWxOt {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .save-changes-to-confirm-aax5kZ {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 219px;
}
.userprofilemanagement .scroll-to-the-f-of-the-section-6A2EKN {
  background-color: transparent;
  bottom: calc(43.75% - 13px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 294px;
}
.userprofilemanagement .scroll-to-the-f-of-the-section-wqPdGv {
  background-color: transparent;
  bottom: calc(43.75% - 13px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 294px;
}
.userprofilemanagement .settings-general-notifications-0PZcXW {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 147px;
  min-height: 43px;
  min-width: 339px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .swaps-fx-user-guide-O40pOL {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .swapslogoimage-transparent-O40pOL {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.userprofilemanagement .user-profile-management-O40pOL {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userprofilemanagement .view-make-changes-i2e62Q {
  background-color: transparent;
  bottom: calc(36.70% - 11px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 190px;
}
.userprofilemanagement .view-update-user-details-3xHcwy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  width: auto;
}
.userprofilemanagement .yellow-thin-rectangle-3XVj4X {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.userprofilemanagement .yellow-thin-rectangle-O40pOL {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}



@media (min-width: 2000px) {
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-top: -22%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 31px;
  }
  .userprofilemanagement .grey-back-O40pOL {
    height: 85%;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 90px;
    line-height: 104px;
    top: 239px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 441px;
    width: 538px;
    font-size: 34px !important;
  }
  .userprofilemanagement .line-8-xpmbvu {
    top: 54px !important;
  }
  .userprofilemanagement .headings {
    font-size: 45px !important;
  }
  .userprofilemanagement .letters {
    height: 193px !important;
    font-size: 23px !important;
  }
  .userprofilemanagement .image-22-y0eQTV {
    margin-top: 11%;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 46px !important;
    margin-right: 4%;
  }
  .userprofilemanagement .image-24-3elYpP {
    margin-top: 7% !important;
  }
}




@media (max-width: 2000px) {
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-top: -18%;
  }
  .userprofilemanagement .grey-back-O40pOL {
    height: 83%;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 70px;
    line-height: 78px;
    top: 190px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 345px;
    width: 581px;
    font-size: 31px !important;
  }
}


@media (min-width: 1500px) {
  .userprofilemanagement .user-profile-management-O40pOL {
    font-size: 66px !important;
  }
  .userprofilemanagement .line-8-xpmbvu {
    top: 57px;
    font-size: 44px;
  }
  .userprofilemanagement .headings {
    font-size: 40px;
  }
  .userprofilemanagement .letters {
    height: 173px;
    margin-top: 6%;
    font-size: 17px;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 41px;
    margin-top: 2%;
    margin-left: 2%;

  }
  .userprofilemanagement .group-21-3TWxOt {
    width: 90%;
  }
  .userprofilemanagement .image-24-3elYpP {
    margin-top: 8%;
    width: 34%;
  }
  .userprofilemanagement .flex-col-3elYpP {
    width: 50%;
  }
}

@media (max-width: 1500px) {
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 51px;
    line-height: 60px;
    top: 190px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 309px;
    font-size: 30px !important;
    width: 500px;
  }
  .userprofilemanagement .user-profile-management-O40pOL {
    font-size: 39px;
  }
}


@media (max-width: 1200px) {
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-left: 17%;
    width: 123%;
    margin-top: -16%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 20px;
    top: 57px;
  }
  .userprofilemanagement .line-1-O40pOL {
    top: 85px;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 44px;
    line-height: 48px;
    top: 155px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 253px;
    font-size: 24px !important;
    width: 384px;
    line-height: 32px;
  }
  .userprofilemanagement .headings {
    font-size: 25px;
  }
  .userprofilemanagement .letters {
    height: 111px;
    font-size: 10px;
    margin-top: 3%;
  } 
  .userprofilemanagement .settings_words {
    margin-top: 0%;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 30px;
  }
  .userprofilemanagement .image-24-3elYpP {
    margin-top: 6%;
  }
}






@media (max-width: 900px) {
  .userprofilemanagement .grey-back-O40pOL {
    height: 75%;
  }
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-left: 6%;
    width: 138%;
    margin-top: -12%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 20px;
    top: 57px;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 26px;
    line-height: 30px;
    top: 125px;
    left: 11%;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 187px;
    font-size: 16px !important;
    width: 247px;
    line-height: 19px;
    left: 11%;
  }
  .userprofilemanagement .user-profile-management-O40pOL {
    font-size: 28px;
  }
  .userprofilemanagement .line-8-xpmbvu  {
    top: 37px;
  }
  .userprofilemanagement .flex-row-0xy0vn {
    flex-direction: column;
  }
  .userprofilemanagement .flex-col-GyJUNH {
    width: 90%;
    margin-left: 15%;
    margin-top: 13%;
  }
  .userprofilemanagement .headings {
    font-size: 32px;
  }
  .userprofilemanagement .letters {
    height: 118px;
    font-size: 11px;
    margin-top: 4%;
  }
  .userprofilemanagement .image-20-GyJUNH {
    margin-left: 13%;
    margin-right: auto;
    width: 70%;
  }
  .userprofilemanagement .flex-col-dXBp89 {
    flex-direction: column;
  }
  .userprofilemanagement .image-21-0PZcXW {
    width: 70%;
    margin-left: 12%;
  }
  .userprofilemanagement .manage_words {
    margin-left: 12%;
    width: 90%;
    margin-top: 13%;
  }
  .userprofilemanagement .manage-password-y0eQTV {
    margin-bottom: -1%;
    margin-left: 4%;
  }
  .userprofilemanagement .group-19-y0eQTV {
    margin-right: 6%;
  }
  .userprofilemanagement .flex-col-Xi618D {
    flex-direction: column;
  }
  .userprofilemanagement .image-22-y0eQTV {
    margin-left: 13%;
    width: 70%;
  }
  .userprofilemanagement .settings_words {
    margin-top: -2%;
    margin-left: 15%;
  }
  .userprofilemanagement .flex-row-mu6cJe {
    margin-top: 3%;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 26px;
    margin-right: 4%;
  }
  .userprofilemanagement .line-12-mu6cJe {
    margin-top: 0%;
  }
  .userprofilemanagement .image-23-O8Us0i {
    width: 54%;
  }
  .userprofilemanagement .flex-row-APIgQa {
    flex-direction: column;
  }
  .userprofilemanagement .flex-col-3elYpP {
    width: 80%;
    margin-left: 14%;
    margin-top: 9%;
  }
  .userprofilemanagement .group-21-3TWxOt {
    height: 144px;
  }
  .userprofilemanagement .image-24-3elYpP {
    margin-left: auto;
    width: 70%;
    margin-top: 14%;
  }
  .userprofilemanagement .flex-row-lcFreP {
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 20%;
  }
  .userprofilemanagement .image-25-NvvWoh {
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }
  .userprofilemanagement .flex-col-NvvWoh {
    margin-left: 31%;
    width: 90%;
    margin-top: 13%;
  }
}





@media (max-width: 600px) {
  .userprofilemanagement .grey-back-O40pOL {
    top: 23px;
    height: 85%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 15px;
    top: 48px;
  }
  .userprofilemanagement .line-1-O40pOL {
    top: 70px;
  }
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-left: 6%;
    width: 140%;
    margin-top: -11%;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 20px;
    line-height: 22px;
    top: 125px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 169px;
    font-size: 12px !important;
    width: 187px;
    line-height: 18px;
  }
  .userprofilemanagement .user-profile-management-O40pOL {
    font-size: 17px;
    margin-top: 0px;
  }
  .userprofilemanagement .line-8-xpmbvu {
    margin-top: -11px;
  }
  .userprofilemanagement .flex-col-GyJUNH {
    margin-top: 17%;
  }
  .userprofilemanagement .headings {
    font-size: 28px;
  }
  .userprofilemanagement .letters {
    height: 91px;
    font-size: 7px;
  }
  .userprofilemanagement .image-20-GyJUNH {
    margin-top: 8%;
  }
  .userprofilemanagement .settings_words {
    margin-top: -17%;
  }
  .userprofilemanagement .flex-row-mu6cJe {
    margin-top: 7%;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 17px;
  }
  .userprofilemanagement .image-23-O8Us0i {
    width: 54%;
  }
  .userprofilemanagement .line-12-mu6cJe {
    margin-top: -4%;
  }
} 





@media (max-width: 400px) {
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-top: -6%;
    width: 1;
  }
  .userprofilemanagement .grey-back-O40pOL {
    top: 23px;
    height: 104%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 12px;
    top: 48px;
  }
  .userprofilemanagement .line-1-O40pOL {
    top: 69px;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 17px;
    line-height: 21px;
    top: 134px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 177px;
    font-size: 11px !important;
    width: 153px;
    line-height: 14px;
  }
  .userprofilemanagement .user-profile-management-O40pOL {
    margin-top: 50px;
  }
  .userprofilemanagement .line-8-xpmbvu {
    margin-top: 40px;
  }
  .userprofilemanagement .flex-col-GyJUNH {
    margin-top: 22%;
  }
  .userprofilemanagement .headings {
    font-size: 21px;
  }
  .userprofilemanagement .letters {
    height: 67px;
    font-size: 5px;
  }
  .userprofilemanagement .ellipse-41-i2e62Q {
    top: 25px;
  }
  .userprofilemanagement .ellipse-42-i2e62Q {
    top: 40px;
  }
  .userprofilemanagement .ellipse-43-i2e62Q {
    top: 50px;
  }
  
  .elip {
    width: 2px !important;
    height: 2px !important;
    left: 10px !important;
  }
  .userprofilemanagement .settings_words {
    margin-top: -41%;
  }
  .userprofilemanagement .advanced-profile-management-O8Us0i {
    font-size: 12px;
  }
  .userprofilemanagement .image-23-O8Us0i {
    width: 48%;
    margin-top: 8%;
  }
  .userprofilemanagement .line-12-mu6cJe {
    margin-top: -6%;
  }
  .userprofilemanagement .flex-col-Xi618D {
    margin-top: 7%;
  }
}





@media (max-width: 300px) {
  .userprofilemanagement .grey-back-O40pOL {
    height: 123%;
  }
  .userprofilemanagement .swapslogoimage-transparent-O40pOL {
    margin-top: -7%;
  }
  .userprofilemanagement .swaps-fx-user-guide-O40pOL {
    font-size: 10px;
    top: 42px;
  }
  .userprofilemanagement .line-1-O40pOL {
    top: 59px;
  }
  .userprofilemanagement .swaps-fx-portal-user-guide-O40pOL {
    font-size: 14px;
    line-height: 16px;
  }
  .userprofilemanagement .everything-you-se-our-services-O40pOL {
    top: 133px;
    font-size: 9px !important;
    width: 159px;
  }
 
  .userprofilemanagement .line-8-xpmbvu {
    margin-top: 52px;
  }
  .userprofilemanagement .user-profile-management-O40pOL {
    font-size: 14px;
    margin-top: 63px;
  }
}
