/* screen - userdocumentupload */

.userdocumentupload {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.userdocumentupload .black-top-rectangle-pqRchW {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userdocumentupload .black-top-rectangle-y1HRxC {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.userdocumentupload .click-delete-ic-ve-the-document-2eLxbt {
  background-color: transparent;
  bottom: calc(42.02% - 12px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 266px);
}
.userdocumentupload .click-on-docume-to-open-section-2eLxbt {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(26.89% - 8px);
  white-space: nowrap;
  width: 435px;
}
.userdocumentupload .click-on-docume-to-open-section-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(26.89% - 8px);
  white-space: nowrap;
  width: 435px;
}
.userdocumentupload .click-the-wheel-ilable-settings-2eLxbt {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userdocumentupload .click-the-wheel-ilable-settings-TwzCqN {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.userdocumentupload .ellipse-44-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userdocumentupload .ellipse-44-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.userdocumentupload .ellipse-45-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(32.39% - 2px);
  width: 6px;
}
.userdocumentupload .ellipse-45-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(32.39% - 2px);
  width: 6px;
}
.userdocumentupload .ellipse-46-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(41.55% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .ellipse-46-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(41.55% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .ellipse-47-2eLxbt {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 22px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .ellipse-47-TwzCqN {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 22px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.userdocumentupload .everything-you-se-our-services-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.userdocumentupload .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  top: 0px;
  width: 100%;
}
.userdocumentupload .flex-col-Xi618D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2%;
  margin-right: auto;
  margin-top: 19%;
  position: relative;
  width: 38%;
}
.userdocumentupload .words {
  align-self: flex-start;
    background-color: transparent;
    flex-shrink: 1;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
    object-fit: cover;
    position: relative;
    width: 68%;
}
.container-center-horizontal {
  height: 2000px;
}
.userdocumentupload .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userdocumentupload .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.userdocumentupload .grey-back-y1HRxC {
  background-color: rgba(238,238,238,1.0);
  height: 80%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.userdocumentupload .group-19-y0eQTV {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 150px;
  margin-top: 26px;
  position: relative;
  width: 100%;
  font-size: 13px;
}
.userdocumentupload .group-23-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 148px;
  margin-left: 0%;
  margin-top: 2%;
  position: relative;
  width: 80%;
}
.userdocumentupload .image-26-0PZcXW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 45%;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 9%;
}
.userdocumentupload .line-1-y1HRxC {
  background-color: transparent;
  height: 1px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 104px;
  width: 95%;
}
.userdocumentupload .line-8-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  top: 42px;
  width: 94%;
}
.userdocumentupload .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.userdocumentupload .remove-update-documents-0PZcXW {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 6%;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .select-the-document-type-TwzCqN {
  background-color: transparent;
  bottom: calc(42.02% - 12px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 266px);
}
.userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .swaps-fx-user-guide-y1HRxC {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .swapslogoimage-transparent-y1HRxC {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.userdocumentupload .upload-or-drag-nd-save-changes-2eLxbt {
  background-color: transparent;
  bottom: 3px;
  height: 39px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 90%;
}
.userdocumentupload .upload-or-drag-nd-save-changes-TwzCqN {
  background-color: transparent;
  bottom: 3px;
  height: 39px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 515px;
}
.userdocumentupload .upload-required-documents-y0eQTV {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  margin-left: 1%;
  width: auto;
}
.userdocumentupload .user-documents-y1HRxC {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.userdocumentupload .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.userdocumentupload .yellow-thin-rectangle-y1HRxC {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}


@media (min-width: 2000px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 85%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 31px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 90px;
    line-height: 104px;
    top: 239px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 441px;
    width: 538px;
    font-size: 34px !important;
  }
  .userdocumentupload .line-8-0xy0vn {
    top: 54px !important;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -22%;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 38px !important;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 19px !important;
    height: 164px;
  }
  .container-center-horizontal {
    height: 3000px;
  }
}


@media (max-width: 2000px) {
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 70px;
    line-height: 78px;
    top: 190px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 345px;
    width: 581px;
    font-size: 31px !important;
  }
  .userdocumentupload .grey-back-y1HRxC  {
    height: 83%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -18%;
  }
  .container-center-horizontal {
    height: 2500px;
  }
}


@media (min-width: 1500px) {
  .userdocumentupload .line-8-0xy0vn {
    top: 57px;
    font-size: 44px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 66px !important;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW
   {
    font-size: 35px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 16px;
  }
}


@media (max-width: 1500px) {
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 51px;
    line-height: 60px;
    top: 190px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 309px;
    font-size: 30px !important;
    width: 500px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 39px;
  }
  .container-center-horizontal {
    height: 1700px;
  }
}



@media (max-width: 1200px) {
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-left: 17%;
    width: 123%;
    margin-top: -16%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 20px;
    top: 57px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 85px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 44px;
    line-height: 48px;
    top: 155px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 253px;
    font-size: 24px !important;
    width: 384px;
    line-height: 32px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    height: 108px;
    font-size: 9px;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 29px;
  }
  .container-center-horizontal {
    height: 1400px;
  }
}


@media(max-width: 900px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 75%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 138%;
    margin-top:-12%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 20px;
    top: 57px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 26px;
    line-height: 30px;
    top: 125px;
    left: 11%;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 187px;
    font-size: 16px !important;
    width: 247px;
    line-height: 19px;
    left: 11%;
  }
  .userdocumentupload .user-documents-y1HRxC  {
    font-size: 28px;
  }
  .userdocumentupload .line-8-0xy0vn  {
    top: 37px;
  }
  .userdocumentupload .flex-row-C61RwL {
    flex-direction: column;
  }
 
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 36px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 13px;
    margin-right: auto;
    width: auto;
  }
  .userdocumentupload .flex-col-dXBp89 {
    flex-direction: column;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-left: auto;
    margin-right: auto;
    width: 47%;
  }
  .userdocumentupload .flex-col-Xi618D {
    margin-left: 19%;
    margin-top: 11%;
    width: 70%;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    height: 138px;
    font-size: 11px;
    margin-left: 1%;
  }
  .container-center-horizontal {
    height: 1700px;
  }
  .userdocumentupload .words {
    margin-left: 20%;
    margin-top: 10%;
  }
}


@media (max-width: 600px) {
  .userdocumentupload .grey-back-y1HRxC {
    top: 23px;
    height: 85%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-left: 6%;
    width: 140%;
    margin-top: -11%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 15px;
    top: 48px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 70px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 20px;
    line-height: 22px;
    top: 125px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 169px;
    font-size: 12px !important;
    width: 187px;
    line-height: 18px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 17px;
    margin-top: 0px;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: -11px;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 20px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 9px;
    height: 100px;
    font-size: 7px;
    margin-top: 2%;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-top: 16%;
  }
  .container-center-horizontal {
    height: 1200px;
  }
}



@media (max-width: 400px) {
  .userdocumentupload .grey-back-y1HRxC  {
    top: 23px;
    height: 104%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -6%;
    width: 1;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 12px;
    top: 48px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 69px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 17px;
    line-height: 21px;
    top: 134px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 177px;
    font-size: 11px !important;
    width: 153px;
    line-height: 14px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    margin-top: 50px;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 40px;
  }
  .userdocumentupload .upload-required-documents-y0eQTV,
  .userdocumentupload .remove-update-documents-0PZcXW {
    font-size: 18px;
  }
  .userdocumentupload .group-19-y0eQTV,
  .userdocumentupload .group-23-C61RwL {
    font-size: 5px;
    height: 83px;
    margin-top: 5px;
  }
  .userdocumentupload .image-26-0PZcXW {
    margin-top: 20%;
  }
  .container-center-horizontal {
    height: 900px;
  }
}



@media (max-width: 300px) {
  .userdocumentupload .grey-back-y1HRxC {
    height: 123%;
  }
  .userdocumentupload .swapslogoimage-transparent-y1HRxC {
    margin-top: -7%;
  }
  .userdocumentupload .swaps-fx-user-guide-y1HRxC {
    font-size: 10px;
    top: 42px;
  }
  .userdocumentupload .line-1-y1HRxC {
    top: 59px;
  }
  .userdocumentupload .swaps-fx-portal-user-guide-y1HRxC {
    font-size: 14px;
    line-height: 16px;
  }
  .userdocumentupload .everything-you-se-our-services-y1HRxC {
    top: 133px;
    font-size: 9px !important;
    width: 159px;
  }
  .userdocumentupload .user-documents-y1HRxC {
    font-size: 14px;
    margin-top: 63px;
  }
  .userdocumentupload .line-8-0xy0vn {
    margin-top: 52px;
  }
  .container-center-horizontal {
    height: 700px;
  }
}
