/* screen - withdrawfunds */

.withdrawfunds {
  align-items: flex-end;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.withdrawfunds .black-top-rectangle-5sTxFf {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  width: 100%;
  top: 0px;
}
.withdrawfunds .black-top-rectangle-BM6xrx {
  background-color: rgba(4,27,45,1.0);
  height: 37px;
  position: absolute;
  width: 100%;
  top: 0px;
}
.withdrawfunds .click-initiate-withdrawal-p8MuxV {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .click-on-the-re-he-account-type-7VPqCY {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.withdrawfunds .click-setup-wit-ton-to-complete-vvCDiG {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 88%;
}
.withdrawfunds .complete-the-co-selected-above-vvCDiG {
  background-color: transparent;
  bottom: calc(36.70% - 22px);
  height: 59px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 90%;
}
.withdrawfunds .confirm-action-omplete-removal-7VPqCY {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 119px);
}
.withdrawfunds .ellipse-28-p8MuxV {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.withdrawfunds .ellipse-29-p8MuxV {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(34.85% - 2px);
  width: 6px;
}
.withdrawfunds .ellipse-30-p8MuxV {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(37.12% - 2px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .ellipse-31-p8MuxV {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .ellipse-32-vEJZo4 {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.withdrawfunds .ellipse-33-vEJZo4 {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .ellipse-34-vvCDiG {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.withdrawfunds .ellipse-35-vvCDiG {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: calc(28.40% - 2px);
  width: 6px;
}
.withdrawfunds .ellipse-36-vvCDiG {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(48.77% - 3px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .ellipse-37-vvCDiG {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: 12px;
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .ellipse-38-7VPqCY {
  background-color: var(--nero);
  border-radius: 3px;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 6px;
}
.withdrawfunds .ellipse-39-7VPqCY {
  background-color: var(--nero);
  border-radius: 3px;
  bottom: calc(20.69% - 1px);
  height: 6px;
  left: 0px;
  position: absolute;
  width: 6px;
}
.withdrawfunds .enter-the-desired-amount-p8MuxV {
  background-color: transparent;
  bottom: calc(36.70% - 11px);
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 133px);
}
.withdrawfunds .everything-you-se-our-services-5sTxFf {
  background-color: transparent;
  height: auto;
  left: 10%;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 600px;
  font-size: 26px !important;
}
.withdrawfunds .flex-col-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  top: 0px;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-col-GyJUNH {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
}
.withdrawfunds .flex-col-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -214px;
}
.withdrawfunds .flex-col-fKmFVR {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 9%;
  width: 65%;
  top: -250px;
}

.withdrawfunds .flex-col-xpmbvu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-row-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-row-oV5UrE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .flex-row-xpmbvu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.withdrawfunds .grey-back-5sTxFf {
  background-color: rgba(238,238,238,1.0);
  height: 106%;
  position: absolute;
  top: 53px;
  width: 100%;
}
.withdrawfunds .group-14-Sxvg86 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 188px;
  position: relative;
  margin-right: 10%;
  width: 66%;
  top: -10px;
}
.withdrawfunds .group-15-3xHcwy {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 98px;
  margin-top: 26px;
  position: relative;
  width: 57%;
}
.withdrawfunds .group-16-QkTteQ {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 163px;
  object-fit: cover;
  position: relative;
  margin-right: -27%;
  margin-left: 0%;
  width: 46%;
  top: -399px;
}
.withdrawfunds .group-17-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 86px;
  margin-top: 31px;
  position: relative;
  width: 61%;
}
.withdrawfunds .image-16-fKmFVR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 11%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 38%;
}
.withdrawfunds .image-17-GyJUNH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 11%;
  margin-right: 2%;
  position: relative;
  width: 38%;
}
.withdrawfunds .image-18-QkTteQ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 7%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 44%;
  top: -50px;
}
.withdrawfunds .image-19-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 204.0px;
  margin-left: 6%;
  margin-right: 2%;
  margin-top: 158px;
  position: relative;
  width: 45%;
}
.withdrawfunds .line-1-5sTxFf {
  background-color: transparent;
  height: 2px;
  margin-left: 2%;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 95%;
}
.withdrawfunds .line-11-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  margin-top: 11px;
  width: 100%;
}
.withdrawfunds .line-8-zHcrMx {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 4%;
  object-fit: cover;
  position: relative;
  width: 94%;
  margin-top: 13%;
}
.withdrawfunds .missing-withdrawal-account-3xHcwy {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 0px;
  min-height: 36px;
  min-width: 250px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .overlap-group-zHcrMx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  position: relative;
  width: 100%;
}
.withdrawfunds .select-the-acco-nt-type-channel-p8MuxV {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(29.36% - 9px);
  white-space: nowrap;
  width: calc(100.00% - 55px);
}
.withdrawfunds .select-the-account-type-vvCDiG {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(23.02% - 7px);
  white-space: nowrap;
  width: 208px;
}
.withdrawfunds .select-the-currency-vvCDiG {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  white-space: nowrap;
  width: 170px;
}
.withdrawfunds .select-the-desi-he-account-type-p8MuxV {
  background-color: transparent;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: auto;
  font-size: 16px;
}
.withdrawfunds .setup-withdrawal-account-3xHcwy {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  right: 65%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
  top: 0%;
}
.withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
  background-color: transparent;
  color: var(--nero);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  left: 9%;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .swaps-fx-user-guide-5sTxFf {
  background-color: transparent;
  color: var(--nero);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 2%;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 72px;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .swapslogoimage-transparent-5sTxFf {
  background-color: transparent;
  height: auto;
  margin-left: 25%;
  object-fit: cover;
  position: relative;
  width: 111%;
  margin-top: -15%;
}
.withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86 {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: relative;
  text-align: left;
  text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  white-space: nowrap;
  width: auto;
  top: -57px;
}
.withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
  background-color: transparent;
  color: var(--nero);
  flex-shrink: 1;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  min-height: 36px;
  min-width: 275px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .withdraw-funds-5sTxFf {
  background-color: transparent;
  color: rgba(9,6,1,1.0);
  font-family: 'OswaldRegular-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  margin-left: 7%;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.withdrawfunds .yellow-thin-rectangle-5sTxFf {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.withdrawfunds .yellow-thin-rectangle-BM6xrx {
  background-color: rgba(249,166,2,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}
.withdrawfunds .you-can-create-essage-as-shown-vEJZo4 {
  background-color: transparent;
  height: 59px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: -5px;
  width: calc(100.00% - 14px);
}
.withdrawfunds .you-will-be-red-account-window-vEJZo4 {
  background-color: transparent;
  bottom: 3px;
  height: 29px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: 90%;
}




@media (min-width: 2000px) { 
  .withdrawfunds .swapslogoimage-transparent-5sTxFf {
    margin-top: -22%;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 540px;
    width: 612px;
    font-size: 51px !important;
  }
  .withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
    font-size: 150px;
    line-height: 143px;
    top: 239px;
  }
  .withdrawfunds .swaps-fx-user-guide-5sTxFf {
    font-size: 46.5px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    font-size: 125px !important;
  }
  .withdrawfunds .flex-col-fKmFVR {
    top: -284px;
  }
  .withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86, 
  .withdrawfunds .missing-withdrawal-account-3xHcwy,
   .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 52px !important;
  }
  .withdrawfunds .group-14-Sxvg86 {
    height: 228px;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV, 
  .segoeui-regular-normal-nero-20px {
    font-size: 33px !important;
  }
  
.withdrawfunds .flex-col-GyJUNH {
  top: -258px;
}
.withdrawfunds .setup-withdrawal-account-3xHcwy {
  right: 72% !important;
}
.withdrawfunds .group-16-QkTteQ {
  height: 238px !important;
  margin-left: 1% !important;
  top: -454px !important;
}
.withdrawfunds .group-17-0PZcXW {
  height: 99px;
  margin-top: 55px;
}

}



@media (max-width: 2000px) { 
  .withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
    font-size: 105px;
    line-height: 96px;
    top: 190px;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 382px;
    width: 581px;
    font-size: 46.5px !important;
  }
  .withdrawfunds .swapslogoimage-transparent-5sTxFf {
    margin-top: -18%;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    top: 135%;
    font-size: 91.5px;
  }
  .withdrawfunds .line-8-zHcrMx {
    margin-top: 15%;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV,
  .segoeui-regular-normal-nero-20px  {
    font-size: 27px !important;
  }
  .withdrawfunds .flex-col-GyJUNH {
    top: -250px;
  }

 
}




@media (min-width: 1500px) {
  .withdrawfunds .grey-back-5sTxFf {
    height: 104%;
  }
  .withdrawfunds .line-1-5sTxFf {
    top: 110px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    font-size: 82px !important;
    top: 129%;
  }
  .withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86,
  .withdrawfunds .missing-withdrawal-account-3xHcwy,
  .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 44px;
  }
  .withdrawfunds .group-15-3xHcwy {
    margin-top: 43px;
    height: 111px;
  }
  .withdrawfunds .setup-withdrawal-account-3xHcwy {
    font-size: 42px !important;
    right: 62%;
  }
  .withdrawfunds .group-16-QkTteQ {
    margin-left: 4%;
    top: -447px; 
    height: 186px;
    width: 44%;
  }


}




@media (max-width: 1500px) {
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 338px;
    font-size: 43px !important;
    width: 500px;
}
.withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
  font-size: 78px;
  line-height: 71px;
  top: 190px;
}
.withdrawfunds .withdraw-funds-5sTxFf {
  font-size: 68px !important;
}
.withdrawfunds .line-8-zHcrMx {
  margin-top: 17%;
}
.withdrawfunds .select-the-desi-he-account-type-p8MuxV,
.segoeui-regular-normal-nero-20px  {
  font-size: 24px !important;
}
.withdrawfunds .flex-col-GyJUNH {
  top: -228px;
}
}





@media (max-width: 1200px) { 
  .withdrawfunds .grey-back-5sTxFf {
    height: 91%;
  }
  .withdrawfunds .swapslogoimage-transparent-5sTxFf {
    margin-left: 6%;
    width: 138%;
    margin-top: -23%;
  }
  .withdrawfunds .swaps-fx-user-guide-5sTxFf  {
    font-size: 30px;
    top: 57px;
  }
  .withdrawfunds .line-1-5sTxFf {
    top: 85px;
  }
  .withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
    font-size: 62px;
    line-height: 61px;
    top: 155px;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 278px;
    font-size: 42px !important;
    width: 500px;
    line-height: 37px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    font-size: 54px !important;
    top: 119%;
  }
  .withdrawfunds .line-8-zHcrMx {
    margin-top: 15%;
  }
  .withdrawfunds .flex-col-fKmFVR {
    top: -187px;
  }
  .withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86,
  .withdrawfunds .missing-withdrawal-account-3xHcwy,
  .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 25px;
  }
  .withdrawfunds .group-14-Sxvg86 {
    height: 124px;
    top: -32px;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV {
    line-height: 21px;
  }
  .withdrawfunds .setup-withdrawal-account-3xHcwy {
    right: 58%;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV,
   .segoeui-regular-normal-nero-20px {
     font-size: 17px !important;
   }
   .withdrawfunds .image-18-QkTteQ {
     width: 41%;
   }
   .withdrawfunds .group-16-QkTteQ {
     height: 135px;
     margin-left: -1%;
     top: -324px;
   }
   

}


@media (min-width: 900px) {
  .withdrawfunds .flex-row-C61RwL {
    margin-top: -200px;
  }
}



@media (max-width: 900px) { 
  .withdrawfunds .swapslogoimage-transparent-5sTxFf {
    margin-left: 29%;
    width: 104%;
    margin-top: -11%;
  }
  .withdrawfunds .grey-back-5sTxFf {
    height: 125%;
  }
.withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
  font-size: 41px;
  line-height: 51px;
  top: 155px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    font-size: 39px !important;
    margin-top: 15%;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 256px;
    font-size: 31px !important;
    width: 378px;
    line-height: 34px;
}
.withdrawfunds .line-8-zHcrMx {
    margin-top: 29%;
}
.withdrawfunds .flex-col-fKmFVR {
  margin-right: auto;
  margin-left: auto;
  width: 72%;
  top: 150px;
}
.withdrawfunds .image-16-fKmFVR {
  margin-left: auto;
  margin-right: auto;
  margin-top: 196px;
  width: 70%;
}
.withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86 {
  font-size: 27px;
}
.withdrawfunds .group-14-Sxvg86 {
  height: 140px;
  top: -27px;
  width: 90%;
}
.withdrawfunds .select-the-desi-he-account-type-p8MuxV,
 .segoeui-regular-normal-nero-20px {
   font-size: 17px !important;
 }
 .withdrawfunds .flex-col-GyJUNH {
  margin-right: auto;
  margin-left: auto;
  width: 72%;
  top: -100px;
 }
 .withdrawfunds .image-17-GyJUNH {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
 }
 .withdrawfunds .group-15-3xHcwy {
   width: 100%;
 }
 .withdrawfunds .image-18-QkTteQ {
  margin-right: auto;
  margin-left: auto;
  width: 72%;
  margin-top: 100px;
 }
 .withdrawfunds .group-16-QkTteQ {
  margin-left: auto;
  margin-right: auto;
  margin-top: 123px;
  width: 70%;
  height: 154px;
 }
 .withdrawfunds .setup-withdrawal-account-3xHcwy {
   right: 38%;
 }
 .withdrawfunds .complete-the-co-selected-above-vvCDiG {
   top: 58px;
 }
 .withdrawfunds .flex-col-dXBp89 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 123px;
  width: 70%;
 }
 .withdrawfunds .image-19-dXBp89 {
  margin-right: auto;
  margin-left: auto;
  width: 72%;
  margin-top: -132px;
 }
 .withdrawfunds .flex-row-C61RwL {
   top: -85px;
 }

}




@media (max-width: 600px) { 
  .withdrawfunds .grey-back-5sTxFf {
    top: 23px;
    height: 129%;
  }
  .withdrawfunds .black-top-rectangle-5sTxFf {
    height: 14px;
  }
  .withdrawfunds .yellow-thin-rectangle-5sTxFf {
    height: 5px;
    top: 15px;
  }
  .withdrawfunds .swaps-fx-user-guide-5sTxFf {
    font-size: 22.5px;
    top: 48px;
  }
  .withdrawfunds .line-1-5sTxFf {
    top: 74px;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 169px;
    font-size: 18px !important;
    width: 205px;
    line-height: 20px;
  }
  .withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
    font-size: 32px;
    line-height: 31px;
    top: 109px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    font-size: 25px !important;
    margin-top: 11%;
  }
  .withdrawfunds .line-8-zHcrMx {
    margin-top: 26%;
  }
  .withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86,
  .withdrawfunds .missing-withdrawal-account-3xHcwy,
  .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 19px !important;
  }
  
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV, 
  .segoeui-regular-normal-nero-20px {
    font-size: 13px !important;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV {
    line-height: 13px;
  }
  
  .withdrawfunds .ellip {
    height: 4px;
    width: 4px;
  }
  .withdrawfunds .image-16-fKmFVR {
    margin-top: 158px;
  }
  .withdrawfunds .group-14-Sxvg86 {
    height: 117px;
    top: -48px;
  }
  .withdrawfunds .group-15-3xHcwy {
    margin-top: 6px;
    height: 83px;
  }
  .withdrawfunds .image-17-GyJUNH {
    margin-top: -36px;
  }
  .withdrawfunds .complete-the-co-selected-above-vvCDiG {
    top: 59px;
    line-height: 19px;
  }
  .withdrawfunds .group-16-QkTteQ {
    height: 150px;
  }
  .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 24px !important;
  }
  .withdrawfunds .flex-row-0xy0vn {
    margin-bottom: -110px;
  }
  .withdrawfunds .setup-withdrawal-account-3xHcwy {
    font-size: 17px;
    right: 45%;
    top: 0.5%;
  }
  .withdrawfunds .group-17-0PZcXW {
    height: 46px;
    margin-top: 2px;
  }
  .withdrawfunds .flex-row-C61RwL {
    top: -122px;
  }
  .withdrawfunds .image-19-dXBp89 {
    margin-top: -181px;
  }
  .withdrawfunds .confirm-action-omplete-removal-7VPqCY {
    top: 19px;
  }
  .withdrawfunds .missing-withdrawal-account-3xHcwy {
    font-size: 26px !important;
  }
  .withdrawfunds .ellipse-29-p8MuxV {
    top: calc(40.85% - 2px);
  }
  .withdrawfunds .select-the-acco-nt-type-channel-p8MuxV {
    top: calc(34.36% - 9px);
  }
}




@media (max-width: 400px) {
  .withdrawfunds .grey-back-5sTxFf {
    top: 23px;
    height: 147%;
  }
  .withdrawfunds .swapslogoimage-transparent-5sTxFf {
    margin-top: -6%;
    width: 1;
  }
  .withdrawfunds .swaps-fx-user-guide-5sTxFf  {
    font-size: 18px;
    top: 48px;
  }
  .withdrawfunds .line-1-5sTxFf{
    top: 72px;
  }
  .withdrawfunds .everything-you-se-our-services-5sTxFf {
    top: 169px;
    font-size: 16.5px !important;
    width: 153px;
    line-height: 14px
  }
  .withdrawfunds .swaps-fx-portal-user-guide-5sTxFf {
    font-size: 25.5px;
    line-height: 26px;
    top: 116px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
    margin-top: 22%;
    font-size: 23.5px !important;
  }
  .withdrawfunds .line-8-zHcrMx {
    margin-top: 39%;
  }
  .withdrawfunds {
    height: 2000px;
  }
  .withdrawfunds .flex-row-xpmbvu {
    top: -40px;
  }

  .withdrawfunds .group-14-Sxvg86 {
    height: 82px;
    top: -52px;
  }
  .withdrawfunds .image-16-fKmFVR {
    margin-top: 129px;
    width: 70%;
  }
  .withdrawfunds .taking-out-fund-ounts-made-easy-Sxvg86,
  .withdrawfunds .missing-withdrawal-account-3xHcwy,
  .withdrawfunds .to-remove-a-withdrawal-account-0PZcXW {
    font-size: 14px !important;
  }
  .withdrawfunds .select-the-desi-he-account-type-p8MuxV, 
  .segoeui-regular-normal-nero-20px {
    font-size: 9px !important;
  }
  .withdrawfunds .image-17-GyJUNH {
    margin-top: -50px;
  }
  .withdrawfunds .flex-row-0xy0vn {
    top: -94px;
    margin-bottom: -157px;
  }
  .withdrawfunds .complete-the-co-selected-above-vvCDiG {
    top: 39px;
    line-height: 12px;
  }
  .withdrawfunds .group-16-QkTteQ {
    height: 90px;
  }
  .withdrawfunds .setup-withdrawal-account-3xHcwy {
    right: 26%;
    top: -89px;
  }
  .withdrawfunds .image-19-dXBp89 {
    margin-top: -186px;
    margin-bottom: 50px;
  }
  .withdrawfunds .group-17-0PZcXW {
    height: 38px;
    margin-top: -8px;
  }
  .withdrawfunds .click-setup-wit-ton-to-complete-vvCDiG {
    top: 64px;
    line-height: 16px;
  }
  .withdrawfunds .confirm-action-omplete-removal-7VPqCY {
    top: 14px;
  }
  .withdrawfunds .flex-row-C61RwL {
    margin-top: -31px !important;
  }
  .withdrawfunds .line-11-0xy0vn {
    margin-top: -85px;
  }
  .withdrawfunds .group-15-3xHcwy {
    height: 65px;
  }
  .withdrawfunds .you-can-create-essage-as-shown-vEJZo4,
  .withdrawfunds .you-will-be-red-account-window-vEJZo4 {
    line-height: 17px;
  }
  .container-center-horizontal {
    height: 1700px;
  }

}

@media (max-width: 300px) {
  .withdrawfunds .grey-back-5sTxFf {
    height: 144%;
  }
  .withdrawfunds .swaps-fx-user-guide-5sTxFf {
    font-size: 15px;
    top: 42px;
  }
  .withdrawfunds .line-1-5sTxFf {
    top: 63px;
  }
  .withdrawfunds .withdraw-funds-5sTxFf {
   top: 89%;
  }
  .withdrawfunds .line-8-zHcrMx {
    margin-top: 79px;
  }
  .withdrawfunds .setup-withdrawal-account-3xHcwy {
    top: -5.2%;
    font-size: 15px;
  }
}
